.orderType,.walletG{
	/*padding: 15px 0;*/
	font-size: 14px;
	background: #FFFFFF;
	width: 92%;
	margin: 4%;
	box-shadow: 0px 0px 5px 2px #DDDDDD;
}
.orderType img,.walletG img{
	display:block;
	width: 25px;
	margin: 5px auto;
}
.flexRow{
	font-size: 14px;
	display: -webkit-flex;
	display: flex;
	-webkit-justify-content: space-around;
	justify-content: space-around;
	-webkit-justify-content: space-around;
	-webkit-align-items: flex-end;
	align-items: flex-end;
	text-align: center;
	padding: 10px 0;
}
.flexRow2 div{
	font-size: 15px;
	background-color: white;
	padding: 15PX;
	/*margin: 10px 0;
	box-shadow: 0px 1px #EEEEEE;*/
}
.flexRow2 img{
	width: 30px;
	height: 30px;
	padding: 4px;
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 10px;
}
