.orderType{
	padding: 15px 0;
	font-size: 14px;
	background: #FFFFFF;
}
.flexRow{
	font-size: 14px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-align: center;
}
.flexRow2 div{
	font-size: 14px;
	background-color: white;
	padding: 10PX;
	margin: 10px 0;
	box-shadow: 0px 1px #EEEEEE;
}
