.ui-page-login,
body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}
.mui-content{height: 100%;}
.flexw{background-color:#fff;display: flex;align-items: center;justify-content: space-around;text-align: center;}
.flexw div{font-size:16px;color:#333;padding:15px 0;flex:1;box-size:border-box}
.curActive{border-bottom:2px solid #B42E28;box-sizing:border-box;color: #B42E28!important;}
.categray{margin:5px 0;}
.categray div{display:inline-block;}
.categray span{display:inline-block;margin:0 10px}
.mui-table-view .mui-media-object {
    line-height: 42px;
    max-width:100px!important;
    width: 75px!important;
    height: 75px!important;
}
.mui-numbox {
    width: 100px;
    height: 30px;
    padding:0 25px;
    font-size:12px;
    border: 1px solid #f8f8f8;
    border-radius: 4px;
    background-color: none!important;
	z-index: 0;
}
.mui-number button{
	-webkit-appearance:button!important;
}
.mui-numbox [class*=btn-numbox], .mui-numbox [class*=numbox-btn]{
	width: 34px;
	font-size: 30px;
    line-height: 0.5;
    text-align: center;
}
.mui-numbox .mui-input-numbox, .mui-numbox .mui-numbox-input{
	border:none!important;
	width: 98%!important;
	margin: auto!important;
}
.flexwc{
	background: white;
	padding: 10px 30px;
	display: flex;
	justify-content: space-between;
	font-size: 13px;
	text-align: center;
}
.flexwc img{
	margin: auto;
	display: block;
	width: 30px;
	margin-top: 5px;
	position: relative;
	z-index: 1;
}
.cartSecond,.cartOne,.cartThird{
	position: relative;
}
.cartOne:before{
	position: absolute;
	top: 20px;
	height: 1px;
	background-color: #EEEEEE;/*B42E28*/
	right: 42px;
	width: 39px;
	content: '';
}
.cartSecond:before{
	position: absolute;
	top: 20px;
	height: 1px;
	background-color: #EEEEEE;
	right: 42px;
	width: 94px;
	content: '';
}
.cartSecond:after{
	position: absolute;
	top:20px;
	height: 1px;
	background-color: #EEEEEE;
	left: 43px;
	width: 92px;
	content: '';
}
.cartThird:after{
	position: absolute;
	top: 20px;
	height: 1px;
	background-color: #EEEEEE;/*B42E28*/
	left: 42px;
	width: 37px;
	content: '';
}
.cartAct:after,.cartAct:before{
	background-color: #B42E28;/*B42E28*/

}
.flexr{display:flex;width:100%;background-color:white;justify-content:space-between;color: #303030;align-items: center;}
.qtop img{width: 20px!important;}
textarea{border: none;}
header{background-color: white!important;}
#phone .mui-input-clear~.mui-icon-clear, #phone .mui-input-password~.mui-icon-eye, #phone .mui-input-speech~.mui-icon-speech{
	font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 22px;
    right: 30%!important;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #999;
}
.mui-input-row .mui-input-clear~.mui-icon-clear, .mui-input-row .mui-input-password~.mui-icon-eye, .mui-input-row .mui-input-speech~.mui-icon-speech{
	font-size: 20px;
    position: absolute;
    z-index: 1;
    top: 22px;
    right: 0px;
    width: 38px;
    height: 38px;
    text-align: center;
    color: #999;
}
.toCart{width: 30px;}
#bottomCart{
	position: fixed;
	left: 0;
	right:0;
	bottom: 49px;
	top: 0;
	background-color: rgba(0,0,0,0.3);
	z-index: 99999!important;
}
#btcgood{
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
}
#btcart{
	max-height: calc(100vh * 0.6);
	overflow-y:scroll ;
}
.gocarticon{
	position: fixed;
	display: block;
	right: 1.5rem;
	bottom: 2.5rem;
	height: 3.2rem;
	width: 3.2rem;
	background-color: #B62D29;
	border-radius: 50%;
	box-sizing: border-box;
	z-index: 999;
	padding: 0;
	text-align: center;
	line-height: 4.5rem;
	box-shadow: 0px 0px 2px 2px rgba(208, 145, 145, 0.4);
}
.gocarticon img{
	width: 50%;
}
.mui-badge-white{background: white;color: #B62D29;}
.gocarticon .mui-badge{position: absolute;top: 8px;right: 5px;}
#maskInfo {
	z-index: 99999;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	bottom: 0;
	background-color: rgba(0, 0, 0, .5)
}
.paychoose {
	background-color: white;
	bottom: 0!important;
	position: absolute;
	right: 0;
	left: 0;
}
.paychoose img {
	width: 40px;
	margin: 0 10px 0 5px;
	vertical-align: middle;
}