/*订单物流*/
.mui-bar-nav~.mui-content {
    padding-top: 50px;
}
.DWsmallInfo{
	display: flex;
	padding: 15px;
	border-bottom: 10px solid #eee;
}
.DWavatar{
	width: 100px;
	height: 100px;
}
.DWavatar img{
	width: 100%;
}
.DWsmallInfoCon{
	flex: 1;
	padding-left: 10px;
}
.DWsmallInfoCon p{
	font-size: 17px;
	color: #555;
	line-height: 30px;
}
.DWh41{
	padding: 15px;
	padding-bottom: 0;
}
.DWinfoList{
	margin: 15px;
	padding: 15px;
	border: 1px solid #EFEFF0;
	background-color: #FAFAFA;
    padding-left: 20px;
}
.DWinfoList div{
	border-left: 1px solid #F0F0F0;
	padding-left: 20px;
	position: relative;
}
.DWinfoList div img{
    position: absolute;
    width: 17px;
    left: -9px;
    top: 18px;
}
.DWinfoList h5{
	font-size: 16px;
	line-height: 25px;
	padding-top: 5px;
}
.DWinfoList div.active h5, .DWinfoList div.active p span{
	color: #444;
}
.DWinfoList p{
	line-height: 30px;
	border-bottom: 1px solid #F0F0F0;
}
.DWinfoList div:last-child p{
	border: none;
}
.DWinfoList p span{
	float: right;
}
