<!DOCTYPE html>
<html>

	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<title>首页</title>
		<link href="css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="css/configW.css" />
		<script src="js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<style>
			html,
			body {
				background-color: #efeff4;
			}
			.title {
				margin: 20px 15px 10px;
				color: #6d6d72;
				font-size: 15px;
			}

			ul {
				font-size: 14px;
				color: #8f8f94;
			}

			.mui-btn {
				padding: 10px;
			}

			.mui-placeholder span {
				color: #333333;
			}

			.flexw,
			.flexws {
				display: flex;
				align-items: center;
				justify-content: space-around;
				text-align: center;
				margin-top: 15px;
				font-size: 16px
			}

			.flexw img{
				display: block;
				width: 30px;
				height: 30px;
				margin: auto;
			}
			.flexws img {
				width: 40px;
				height: 40px;
				display: inline-block!important;
			}
			.flexws{margin-top: 0;}
			.flexws>div{width: 50%;display: flex;padding: 20px 15px;justify-content: space-between;align-items: center;}
			.flexws>div>div:first-child{width: 50%;}
			.ltac .imgb {
				margin: 5px auto;
				width: 60px;
				height: 60px;
				padding: 15px;
				border-radius: 50%;
			}

			.mui-table-view:after,
			.mui-table-view:before,
			.mui-table-view-cell:after,
			.mui-table-view-cell:before {
				height: 0!important;
			}

			.qashadow {
				margin-bottom: 5px;
				background-color: white;
				padding: 10px
			}

			.qbot {
				margin-top: 10px;
				line-height: 1.3;
			}

			.Avator {
				width: 70px!important;
				height: 70px!important;
			}

			.qaimg img {
				margin-right: 5px;
				width: 0.6rem;
				height: 0.6rem;
				border-radius: 3px;
				margin-top: 10px;
			}

			.upload {
				padding: 20px;
				text-align: center;
			}
			.indexSearch{
				background-color: white;font-size: 12px;height: 33px;border-radius: 20px;text-align: center;line-height: 30px;
			}
			.mui-card{margin: 0px 10px 10px;}
			.mui-card-content-inner p img{width: 22px;vertical-align: middle;}
			.mui-card-content-inner p{font-size: 16px;}
			.mui-card-content-inner{padding: 8px;}
			.message {position: absolute;top: 32px;right: 20px;width: 6%;}
			.somenspf{display: flex;justify-content: space-around;align-items: center;}
			.somenspf > div{display: flex;align-items: center;}
			.somenspf img{width:15px;vertical-align: middle;margin-top: -3px;}
			.goodsList{overflow:hidden}
			.ftype .imgb img{width: 28px!important;height: 28px!important;}
			.ftype .imgb{padding: 10px;border-radius:50% ;margin-bottom: 10px;}
			.bdl{border-left: 3px solid #B62D29;padding-left: 5px;}
			.mui-media-object{box-shadow: 0px 0px 0px 1px #EEEEEE;margin-bottom: 5px;}
			.messagefitler{-webkit-filter: invert(0.8);filter:invert(0.8);}
			.mui-slider .mui-slider-group .mui-slider-item img{width: 100%;height: 100%!important;}
			.zanwei2{padding-top: 50%;}
			.huodongImg{vertical-align:middle;width:100%;border-radius:2px;}
		</style>
	</head>

	<body onload="text=document.getElementById('text');">
		<header class="mui-row mui-bar mui-bar-transparent hasManyCity" id="header" style="z-index: 200;">
			<div class="searchBox" onclick="goSearch()" style="z-index:1;position: absolute;top: 27px;left: 20px;width: 80%;">
				<div class="indexSearch">
					<span class="mui-icon mui-icon-search" style="vertical-align: middle;font-size:20px;padding-top: 7px;"></span>
				</div>
			</div>
			<img src="images/center/message.svg" onclick="goMessage()" class="message"/>
		</header>
		<!--状态栏开始-->
		<style type="text/css" id="headStyle"></style>
		<div id="sBar" style="background-color: #FFFFFF;position: fixed;width:100%;top: 0;z-index: 9999"></div>
		<script type="text/javascript">
			var immersed = 0;
			var ms = (/Html5Plus\/.+\s\(.*(Immersed\/(\d+\.?\d*).*)\)/gi).exec(navigator.userAgent);
			if(ms && ms.length >= 3) { // 当前环境为沉浸式状态栏模式
				immersed = parseFloat(ms[2]); // 获取状态栏的高度
			}
			var headdiv = document.getElementById('header'); //这是现有的header
			var headH = parseInt(immersed) + parseInt(headdiv.offsetHeight);
			document.getElementById('headStyle').innerHTML = '.headI{height: ' + headH + 'px !important;} .hasManyCity .searchBox{top:' + immersed + 'px} .qrcodeBtn{top:' + immersed + 'px}';
			headdiv.className += " headI";
			headdiv.style.paddingTop = immersed + "px";
			//head渐变效果
			$(window).scroll(function() {
				var scrollTop = $(this).scrollTop();
				var scrollHeight = $(document).height();
				var windowHeight = $(this).height();
				if(scrollTop >= 100) {//不透明背景
					mui('#header')[0].style.boxShadow="0 0 2px rgba(175, 166, 166, 0.85)";
					mui('.message')[0].className = 'message messagefitler';
					mui('.indexSearch')[0].style.background = 'rgba(204, 204, 204, 0.54)';
				}else{//透明背景
					mui('#header')[0].style.boxShadow="0 0 0 rgba(175, 166, 166, 0.85)";
					mui('.message')[0].className = 'message';
					mui('.indexSearch')[0].style.background = 'rgba(255, 255, 255, 0.57)';
				}
			});

		</script>
		<div style="position: relative;">
			<div id="banner">
				<div class="mui-slider">
					<div class="mui-slider-group mui-slider-loop">
						<!--支持循环，需要重复图片节点-->
						<div class="mui-slider-item mui-slider-item-duplicate zanwei zanwei2">
							<img src="http://www.huarun.com/images/product/productIn_scroll.jpg" />
						</div>
						<div class="mui-slider-item zanwei zanwei2">
							<img src="http://www.huarun.com/upload/temp/img/20160602/142150-979.jpg" />
						</div>
						<div class="mui-slider-item zanwei zanwei2">
							<img src="http://www.huarun.com/upload/temp/img/20170524/154140-245.jpg" />
						</div>
						<div class="mui-slider-item zanwei zanwei2">
							<img src="http://www.huarun.com/images/product/productIn_scroll.jpg" />
						</div>
						<!--支持循环，需要重复图片节点-->
						<div class="mui-slider-item mui-slider-item-duplicate zanwei zanwei2">
							<img src="http://www.huarun.com/upload/temp/img/20160602/142150-979.jpg" />
						</div>
					</div>
				</div>
			</div>
			<script type="text/html" id="bannerTpl">
				<div class="mui-slider">
					<!--轮播图-->
					<%if(list.length){%>
					<div class="mui-slider-group mui-slider-loop">
					    <!--支持循环，需要重复图片节点-->
					    <div class="mui-slider-item mui-slider-item-duplicate zanwei zanwei2" onclick=('<%=list[list.length-1].id%>','<%=list[list.length-1].url%>','<%=list[list.length-1].name%>','<%=list[list.length-1].type%>')>
					     	<img src="<%=url%><%=list[list.length-1].pic%>" onerror="javascript:this.src='images/img.svg';" />
					    </div>
						<% for(var i=0;i<list.length;i++){ %>
					    	<div class="mui-slider-item zanwei zanwei2" onclick=('<%=list[i].id%>','<%=list[i].url%>','<%=list[i].name%>','<%=list[i].type%>')>
					    		<img src="<%=url%><%=list[i].pic%>"  onerror="javascript:this.src='images/img.svg';"/>
					    	</div>
					     <% } %>
					    <!--支持循环，需要重复图片节点-->
					    <div class="mui-slider-item mui-slider-item-duplicate zanwei zanwei2" onclick=('<%=list[0].id%>','<%=list[0].url%>','<%=list[0].name%>','<%=list[0].type%>')>
					     	<img src="<%=url%><%=list[0].pic%>" onerror="javascript:this.src='images/img.svg';" />
					    </div>
					</div>
					<div class="mui-slider-indicator">
						<div class="mui-indicator mui-active"></div>
						<% for(var i=0;i<list.length-1;i++){ %>
					    	<div class="mui-indicator"></div>
					    <% } %>
		            </div>
		            <%}%>
				</div>
			</script>
		</div>

		<div class="bgcwt">
			<div class="somenspf ft12 padd10 fttc activecl" id="slogan">
				<div style="visibility: hidden;">
					<img src="images/index/bdchexk.svg"/><span>满1000元包邮</span>
				</div>
				<div style="visibility: hidden;">
					<img src="images/index/bdchexk.svg"/><span>电梯免费上楼</span>
				</div>
				<div style="visibility: hidden;">
					<img src="images/index/bdchexk.svg"/><span>二绕内均可配送</span>
				</div>
			</div>
			<div class="flexw paddv10 ftype" id="iconData" style="margin-top:0 ;">
				<div data-id="water">
					<div class="imgb" style="background-color:#B62D29"><img src="images/s.svg" alt="" /></div>水
				</div>
				<div data-id="electric">
					<div class="imgb" style="background-color:#B62D29"><img src="images/d.svg" alt="" /></div>电
				</div>
				<div data-id="wood">
					<div class="imgb" style="background-color:#B62D29"><img src="images/m.svg" alt="" /></div>木
				</div>
				<div data-id="tile">
					<div class="imgb" style="background-color:#B62D29"><img src="images/w.svg" alt="" /></div>瓦
				</div>
				<div data-id="oil">
					<div class="imgb" style="background-color:#B62D29"><img src="images/y.svg" alt="" /></div>油
				</div>
			</div>
		</div>
		<script type="text/html" id="iconTpl">
			<%for(var i = 0 ;i<list.length;i++){%>
				<div data-id="<%=list[i].type%>">
					<div class="imgb" style="background-color:#B62D29"><img src="<%=url%><%=list[i].pic%>" alt="" /></div><%=list[i].name%>
				</div>
			<%}%>
		</script>

		<div class="padd10" id="huodong0"></div>
		<script type="text/html" id="huodongS0">
			<img class='huodongImg' src="<%= url%><%= list.pic%>" onclick="bannerGo('<%= list.linkurl%>','<%= list.title%>')"/>
		</script>

		<!--顾客 和 项目经理-->
		<div class="mui-content ltac cusMan bgcwt">
			<div class="flexws afterBorder">
				<div onclick="fastOrder()" class="rightBorder paddv10">
					<div id="">
						快捷下单
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div class="gxb paddv10 rightBorder">
					<div id="">
						工序包
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws afterBorder">
				<div id="paizhaoOrder" class="rightBorder paddv10" onclick="paizhaoOrder()">
					<div id="">
						拍照下单
					</div>
				    <img src="img/legray.svg" alt="" />
				</div>
				<div onclick="goCollect()" class="rightBorder paddv10">
					<div id="">
						我的收藏
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws afterBorder">
				<div class="rightBorder" onclick="delivery()">
					<div>
						物流
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div onclick="signRecord()" class="rightBorder">
					<div id="">
						签到
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws">
				<div class="rightBorder" onclick="wallet()">
					<div id="">
						钱包
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div id="" class="rightBorder">
					<div id="">
						咨询
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
		</div>

		<!--工人-->
		<div class="mui-content ltac worker bgcwt" style="display: none;">
			<div class="flexws afterBorder">
				<div onclick="fastOrder()" class="rightBorder paddv10">
					<div id="">
						快捷下单
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div class="gxb paddv10 rightBorder">
					<div id="">
						工序包
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws afterBorder">
				<div id="paizhaoOrder" class="rightBorder paddv10" onclick="paizhaoOrder()">
					<div id="">
						拍照下单
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div onclick="goCollect()" class="rightBorder paddv10">
					<div id="">
						我的收藏
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws afterBorder">
				<div class="rightBorder" onclick="delivery()">
					<div id="">
						物流
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div id="" class="rightBorder">
					<div id="">
						咨询
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
		</div>

		<!--导购-->
		<div class="mui-content ltac guides bgcwt" style="display: none;">
			<div class="flexws afterBorder">
				<div onclick="fastOrder()" class="rightBorder paddv10">
					<div id="">
						快捷下单
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div class="gxb paddv10 rightBorder">
					<div id="">
						工序包
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws afterBorder">
				<div id="paizhaoOrder" class="rightBorder paddv10" onclick="paizhaoOrder()">
					<div id="">
						拍照下单
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div class="rightBorder" onclick="delivery()">
					<div id="">
						物流
					</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws afterBorder">
				<div onclick="noDelivery()" class="rightBorder paddv10">
					<div>未提货</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div onclick="guideCredit()" class="rightBorder">
					<div>信用额度</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
			<div class="flexws">
				<div class="rightBorder" onclick="debateQuery()">
					<div>欠款查询</div>
					<img src="img/legray.svg" alt="" />
				</div>
				<div onclick="debateAudit()" class="rightBorder">
					<div>欠款审核</div>
					<img src="img/legray.svg" alt="" />
				</div>
			</div>
		</div>
		<!--<div class="button" onclick="startRecognize()">开始语音识别</div>
		<textarea readonly="readonly" id="text" style="margin:2%;padding:2%;height:50%;width:90%;border:1px solid #6C6C6C;-webkit-border-radius: 2px;border-radius: 2px;-webkit-appearance:none;">
			语音输入内容
		</textarea>-->
		<!--常购清单-->
		<div class="bgcwt afterBorder pad15 ft16" style="margin-top:10px;" id='oftenbuy' onclick="goOftenList()">
			<span class="bdl activecl">
				常购清单
			</span>
			<span class="mui-pull-right mui-icon mui-icon-arrowright activecl"></span>
			<span class="mui-pull-right disablecl ft14" style="margin-top: 3px;">更多</span>
		</div>

		<!--常购清单商品列表-->
		<div class="bgcwt">
			<div class="goodsList" id="goodsList"></div>
		</div>
		<script type="text/html" id="goodsTpl">
			<ul class="mui-table-view">
				<%for(var i = 0 ;i<list.length;i++){%>
				<li class="mui-table-view-cell mui-media bgcwt" id="<%=list[i].id%>" onclick="goodsInfo(<%=list[i].id%>)" style="width:50%!important;float:left;border:none!important">
					<a href="javascript:;" style="border-top: none!important;">
						<div class="zanwei">
							<img class="mui-media-object" style="display:block!important;width:100%!important;max-width:none;height:auto" src="<%=list[i].coverImageUri%>">
						</div>
						<div class="mui-media-body" style="font-size:12px">
							<div class="titcl ft16" style="word-break: break-all;text-overflow: ellipsis;overflow: hidden;">
								<%=list[i].goodsName%>
							</div>
							<p class='mui-ellipsis ft14'>规格:
								<%=list[i].goodsSpecification%> &nbsp;单位:
								<%=list[i].goodsUnit%>
							</p>
							<span class="activecl2 ft20">¥<%=list[i].retailPrice%></span>
							<img style="display:inline-block;float:right;margin-left:5px;vertical-align:middle;width:22px" onclick="addcart(<%=list[i].id%>)" src="images/addcart.svg" />

						</div>
					</a>
				</li>
				<%}%>
			</ul>
		</script>
		<div class="bgcwt afterBorder pad15 ft16" style="margin-top:10px;" onclick="goHotList()">
			<span class="bdl activecl">
				热门商品
			</span>
			<span class="mui-pull-right mui-icon mui-icon-arrowright activecl"></span>
			<span class="mui-pull-right disablecl ft14" style="margin-top: 3px;">更多</span>
		</div>

		<!--热门商品商品列表-->
		<div class="bgcwt">
			<div class="goodsList" id="goodsListHot"></div>
		</div>
		<script type="text/html" id="goodsHotTpl">
			<ul class="mui-table-view" style="border-top: none!important;">
				<%for(var i = 0 ;i<list.length;i++){%>
				<li class="mui-table-view-cell mui-media bgcwt" id="<%=list[i].id%>" onclick="goodsInfo(<%=list[i].id%>)" style="width:50%!important;float:left;border:none!important">
					<a href="javascript:;" style="border-top: none!important;">
						<div class="zanwei">
							<img class="mui-media-object" style="display:block!important;width:100%!important;max-width:none;height:auto" src="<%=list[i].coverImageUri%>">
						</div>
						<div class="mui-media-body" style="font-size:12px">
							<div class="titcl ft16" style="word-break: break-all;text-overflow: ellipsis;overflow: hidden;">
								<%=list[i].goodsName%>
							</div>
							<p class='mui-ellipsis ft14'>规格:
								<%=list[i].goodsSpecification%> &nbsp;单位:
								<%=list[i].goodsUnit%>
							</p>
							<span class="activecl2 ft20">¥<%=list[i].retailPrice%></span>
							<img style="display:inline-block;float:right;margin-left:5px;vertical-align:middle;width:22px" onclick="addcart(<%=list[i].id%>)" src="images/addcart.svg" />

						</div>
					</a>
				</li>

				<%}%>
			</ul>
		</script>
		<div class="bgcwt afterBorder pad15 ft16" style="margin-top:10px;" onclick="tradeLists()">
			<span class="bdl activecl">
				乐易装商学院
			</span>
			<span class="mui-pull-right mui-icon mui-icon-arrowright activecl"></span>
			<span class="mui-pull-right disablecl ft14" style="margin-top: 3px;">更多</span>
		</div>
		<div id="tradeList" class="bgcwt">
				<div style="height: 10px;"></div>

			<div class="mui-card" onclick="openDetail(<%=dataList[i].id%>,'<%=dataList[i].title%>')">
				<div class="mui-card-header mui-card-media"
					style="height:45vw;background-image:url('http://www.huarun.com/images/product/productIn_scroll.jpg')">
				</div>

				<div class="mui-card-content">
					<div class="mui-card-content-inner">
						<p style="color: #333;">妙想漆系列</p>
						<p><img src="img/yanjin2.svg"/>111</p>
					</div>
				</div>
			</div>
				<br />

		</div>
		<script type="text/html" id="tradeTpl">
			<div style="height: 10px;"></div>
			<%for(var i=0;i<dataList.length;i++){%>
				<div class="mui-card" onclick="openDetail(<%=dataList[i].id%>,'<%=dataList[i].title%>')">
					<%if(dataList[i].thumb){%>
						<div class="mui-card-header mui-card-media"
							style="height:45vw;background-image:url(<%= url%><%= dataList[i].thumb%>)">
						</div>
					<%}else{%>
						<div class="mui-card-header mui-card-media"
							style="height:45vw;background-image:url('images/img.svg')">
						</div>
					<%}%>
					<div class="mui-card-content">
						<div class="mui-card-content-inner">
							<!--<p><%=dataList[i].createTime%></p>-->
							<p style="color: #333;"><%=dataList[i].title%></p>
							<p><img src="img/yanjin2.svg"/> <%=dataList[i].read%></p>
						</div>
					</div>
				</div>
			<%}%>
			<br />
		</script>
		<div class="upload text-center text-xs gray" id="upload"></div>
		<script src="js/mui.min.js"></script>
		<script src="js/util.js"></script>
		<script src="js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/app.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="js/youxd.js" type="text/javascript" charset="utf-8"></script>
		<script>
			mui.init();
			var text=null;
			function startRecognize() {
				if(plus.os.name=='Android'&&navigator.userAgent.indexOf('StreamApp')>0){
					plus.nativeUI.toast('当前环境暂不支持语音识别插件');
					return;
				}
				var options = {};
				options.engine = 'iFly';
				//options.punctuation = false;	// 是否需要标点符号

				text.value = "";
				console.log( "开始语音识别：" );
				plus.speech.startRecognize( options, function ( s ) {
					console.log( s );
					text.value += s;
				}, function ( e ) {
					console.log( "语音识别失败："+e.message );
				} );
			}



			var Spagenum = 2; //实到页数
			var Ypagenum = 1; //应到页数

			mui.plusReady(function() {
				if(/android/i.test(navigator.userAgent)){
			 	 	var systemType = 'ANDROID'
				}else{
			 	 	var systemType = 'IOS'
				}
				var clientId = plus.push.getClientInfo().clientid;
				var deviceId = plus.device.uuid;
				plus.storage.setItem('platform',systemType)
				plus.storage.setItem('clientId',clientId)
				plus.storage.setItem('deviceId',deviceId)
				//判断是否登陆
				document.addEventListener('refreshid', function() {
					loadIndex();
				})
				Sign();
				var timeSign = null;
				var loadNum = 0;
				var loadNum2 = 0;
				clearInterval(timeSign);
				timeSign = setInterval(Sign, 5000000); //两小时自动更新一次token

				function Sign() { //登录方法
					//设置默认token
					if(!plus.storage.getItem('oldToken')) { //没有用户token
						openview({
							view: 'identify.html',
							id: 'identify'
						})

					} else {
						if(plus.storage.getItem("Acc_pass") || plus.storage.getItem("openId")) {
							var Acc_pass = JSON.parse(plus.storage.getItem("Acc_pass")); //员工登陆
							var openid = plus.storage.getItem("openId"); //顾客登录
							console.log(openid);

							//根据缓存密码自动登录, 重新获取Token
							if(Acc_pass) {
								mui.ajax(serverUrl + '/app/employee/login', {
									data: {
										"name": Acc_pass[0],
										"password": Acc_pass[1],
										"deviceId":deviceId,"clientId":clientId,"systemType":systemType
									},
									dataType: 'json',
									type: 'post',
									timeout: 10000,
									success: function(data, type, xhr) {
										console.log('登录返回', data);
										if(data.code == -1) {
											openview({
												view: 'identify.html',
												id: 'identify'
											})
										} else {
											plus.nativeUI.closeWaiting();
											console.log('默认账号登录返回' + JSON.stringify(data));
											plus.storage.setItem("oldToken", xhr.getResponseHeader('token'));
//											mui.fire(plus.webview.getWebviewById('page/goodList.html'), 'refresh');
//											mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');
//											mui.fire(plus.webview.getWebviewById('cart.html'), 'refresh');
											if(data.content.type == 1){
												openview({
													view:'page/dispatching/dispatching.html',
													id:'dispatching'
												})
											}
											loadIndex();
											util.initSubpage();
										}
									},
									error: function(xhr, type, errorThrown) {
										plus.nativeUI.closeWaiting();
										console.log('响应失败');
										loadNum++;
										if(loadNum < 3) {
											mui.toast('当前网络不好,再次连接');
										}
										console.log('获取默认token响应失败');
									}
								});
							}
							if(openid) {
								mui.ajax(serverUrl + '/app/customer/login', {
									data: {
										"openId": openid,
										"deviceId":deviceId,"clientId":clientId,"systemType":systemType
									},
									dataType: 'json',
									type: 'post',
									timeout: 10000,
									success: function(data, type, xhr) {
										console.log('登录返回', data);
										if(data.code == 0 && data.content.isExist) {
											plus.nativeUI.closeWaiting();
											plus.storage.setItem("oldToken", xhr.getResponseHeader('token'));
//											mui.fire(plus.webview.getWebviewById('cart.html'), 'refresh');
//											mui.fire(plus.webview.getWebviewById('page/goodList.html'), 'refresh');
//											mui.fire(plus.webview.getWebviewById('center.html'), 'refresh');
											util.initSubpage();
											loadIndex();
										} else if(data.code == -1) {
											plus.nativeUI.closeWaiting();
											mui.toast(data.message);
											openview({
												view: 'identify.html',
												id: 'identify'
											})
										}

									},
									error: function(xhr, type, errorThrown) {
										plus.nativeUI.closeWaiting();
										console.log('响应失败');
									}

								});
							}
						} else {
							openview({
								view: 'identify.html',
								id: 'identify'
							})
						}

					}

				} //登录方法结束

//				loadIndex(); 
				//banner
				var nowcity = plus.storage.getItem('userCity') || 1;
				mui.ajax(oCms + '/index.php/ApiCms/bannerList', {
					data:{post:1,city:nowcity},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					success: function(data, type, xhr) {
						console.log('banner', data);
						plus.nativeUI.closeWaiting();
						if(data.code == '0'){
							if(data.banner && data.banner.length) {
								$('#banner').html(template('bannerTpl', {list: data.banner,url:oCms}));
								 var gallery = mui('.mui-slider');
									gallery.slider({
									  interval:3000//自动轮播周期，若为0则不自动播放，默认为0；
									});
							}
						}else{
							mui.toast(data.message)
						}

					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						console.log('响应失败');
					}
				});
				//首页活动
				var nowcity = plus.storage.getItem('userCity') || 1;
				mui.ajax(oCms + '/index.php/ApiCms/activity', {
					data:{city:nowcity},
					dataType: 'json',
					type: 'post',
					timeout: 10000,
					success: function(data, type, xhr) {
						console.log('首页活动', data);
						if(data.code == '0'){
							$('#huodong0').html(template('huodongS0', {list: data.activity,url:oCms}));
						}else{
							mui.toast(data.message)
						}
					},
					error: function(xhr, type, errorThrown) {
						plus.nativeUI.closeWaiting();
						console.log('响应失败');
					}
				});

				function loadIndex() {
					//获取缓存
					var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
					var userId = plus.storage.getItem('$userId');
					var oldToken = plus.storage.getItem('oldToken');
					//切换板块
					if(identityT == 0 || identityT == 4 || identityT == 5) { //导购
						$('.guides').css('display', '')
						$('.cusMan,.worker').css('display', 'none')
						getIcon(3)
					} else if(identityT == 6 || identityT == 2) { //顾客 项目经理
						$('.cusMan').css('display', '')
						$('.guides,.worker').css('display', 'none')
						getIcon(1)
					} else if(identityT == 3) { //工人
						$('.guides,.worker').css('display', '')
						$('.cusMan,.guides').css('display', 'none')
						getIcon(2)
					} else { //配送员

					}
					//icon
					function getIcon(icontype){
						mui.ajax(oCms + '/index.php/ApiCms/iconList', {
							data: {
								'type':icontype
							},
							dataType: 'json',
							headers: {
								"Authorization": oldToken
							},
							type: 'post',
							timeout: 10000,
							success: function(data, type, xhr) {
								console.log('icon', data);
								if(data.code == 0) {
									plus.nativeUI.closeWaiting();
									if(data.cates && data.cates.length) {
										$('#iconData').html(template('iconTpl', {list: data.cates,url:oCms}));
										var goodsCt = document.querySelectorAll('.flexw>div');
										[].forEach.call(goodsCt, function(ele, i) {
											ele.onclick = function() {
												openview({
													view: 'page/goodList.html',
													id: 'goodList',
//													top:'0px',
//													bottom:'50px',
													extrasobj: {
														ctid: ele.getAttribute('data-id'),
														page: 1
													}
												})
											}
										})
									}
									if(data.icon && data.icon.length) {
										if(icontype == 1){
											data.icon.forEach(function(ele,index){
												$('.cusMan img').eq(index).attr('src',oCms+ele.pic);
												$('.cusMan .rightBorder div').eq(index).html(ele.name);
											})
										}else if(icontype == 2){
											data.icon.forEach(function(ele,index){
												$('.worker img').eq(index).attr('src',oCms+ele.pic);
												$('.worker .rightBorder div').eq(index).html(ele.name);
											})
										}else if(icontype == 3){
											data.icon.forEach(function(ele,index){
												$('.guides img').eq(index).attr('src',oCms+ele.pic);
												$('.guides .rightBorder div').eq(index).html(ele.name);
											})
										}
									}
								} else {
									mui.toast(data.message)
								}

							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting();
								console.log('响应失败');
							}
						});
					}
					//slogan
					mui.ajax(oCms + '/index.php/ApiCms/sloganList', {
						data: {
							'city':nowcity
						},
						dataType: 'json',
						headers: {
							"Authorization": oldToken
						},
						type: 'post',
						timeout: 10000,
						success: function(data, type, xhr) {
							console.log('标语', data);
							if(data.code == 0) {
								plus.nativeUI.closeWaiting();
								var slogan = '';
								if(data.slogan && data.slogan.length){
									for(var i = 0 ;i < data.slogan.length;i++){
										slogan += '<div id=""><img src="images/index/bdchexk.svg"/><span>'+data.slogan[i].title+'</span></div>'
									}
									$('#slogan').html(slogan)
								}
							} else {
								mui.toast(data.message)
							}
	
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting();
							console.log('响应失败');
						}
					});
					
					//常购商品列表
					mui.ajax(serverUrl + '/app/goods/often/list', {
						data: {
							userId: userId,
							identityType: identityT
						},
						dataType: 'json',
						headers: {
							"Authorization": oldToken
						},
						type: 'post',
						timeout: 10000,
						success: function(data, type, xhr) {
							console.log('常购商品列表', data);
							if(data.code == 0) {
								plus.nativeUI.closeWaiting();
								if(data.content && data.content.length) {
									$('#goodsList').html(template('goodsTpl', {
										list: data.content
									}));
								} else {
									$('#goodsList,#oftenbuy,.oftenbuy').hide()
									//									$('#goodsList').html('<div style="text-align:center;padding:15px;font-size: 12px">暂无商品</div>')
								}
							} else {
								mui.toast(data.message)
							}

						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting();
							console.log('响应失败');
						}
					});
					//热门商品列表
					mui.ajax(serverUrl + '/app/goods/hot/list', {
						data: {
							userId: userId,
							identityType: identityT
						},
						dataType: 'json',
						headers: {
							"Authorization": oldToken
						},
						type: 'post',
						timeout: 10000,
						success: function(data, type, xhr) {
							console.log('热门商品列表', data);
							if(data.code == 0) {
								plus.nativeUI.closeWaiting();
								if(data.content && data.content.length) {
									$('#goodsListHot').html(template('goodsHotTpl', {
										list: data.content
									}));
								} else {
									$('#goodsListHot').html('<div style="text-align:center;padding:15px;font-size: 12px;">暂无商品</div>')
								}
							} else {
								mui.toast(data.message)
							}

						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting();
							console.log('响应失败');
						}
					});


					//乐易装商学院
					var currentPage = 1,
						numsPerPage = 2,
						endPage = 0;
					mui.ajax(oCms+'/index.php/ApiCms/postSchool', {
						data: {
							page: currentPage,
							size: numsPerPage
						},
						dataType: 'json', //服务器返回json格式数据
						type: 'post', //HTTP请求类型
						timeout: 10000, //超时时间设置为10秒；
						success: function(data) {
							console.log('乐易装商学院trade', data);
							if(data.code == 0){
								if(data && data.list.length) {
									document.getElementById("tradeList").innerHTML = template("tradeTpl", {
										dataList: data.list,
										url:oCms
									});
								} else {
									mui("#upload")[0].innerHTML = "";
								}

							}else{
								mui.toast(data.message)
							}
							plus.nativeUI.closeWaiting(); //关闭等待框
						},
						error: function(xhr, type, errorThrown) {
							plus.nativeUI.closeWaiting(); //关闭等待框
							mui("#upload")[0].innerHTML = "";
						}
					});

					//加入购物车
					window.addcart = function(goodid) {
						event.stopPropagation();
						plus.nativeUI.showWaiting();
						mui.ajax(serverUrl + '/app/materialList/add', {
							data: {
								userId: userId,
								identityType: identityT,
								params: goodid + '-' + 1
							},
							dataType: 'json',
							headers: {
								"Authorization": oldToken
							},
							type: 'post',
							timeout: 10000,
							success: function(data, type, xhr) {
								plus.nativeUI.closeWaiting();
								console.log('加入购物车', data);
								if(data.code == 0) {
									plus.nativeUI.toast('加入成功')
									mui.fire(plus.webview.getWebviewById('cart.html'), 'refresh');

								} else {
									mui.toast(data.message)
								}

							},
							error: function(xhr, type, errorThrown) {
								plus.nativeUI.closeWaiting();
								mui.toast(type)
								console.log('响应失败');
							}
						});
					}

				}
			});


			function fastOrder(){
				openview({
					view:'page/fastOrder.html',
					id:'fastOrder'
				})
			}
			function debateQuery(){
				openview({
					view:'page/guide/debateQuery.html',
					id:'debateQuery'
				})
			}
			function debateAudit(){
				openview({
					view:'page/guide/debateAudit.html',
					id:'debateAudit'
				})
			}
			function delivery(){
				openview({
					view:'page/personal/deliveryInform.html',
					id:'deliveryInform'
				})
			}
			//消息
			function goMessage(){
				openview({
					view:'page/personal/message.html',
					id: 'message',
				})
			}
			function paizhaoOrder() { //拍照下单
				mui.plusReady(function() {
					var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
					if(identityT == 0) { //导购
						openview({
							view: 'page/order/chooseCustom2.html',
							id: 'chooseCustom2',
						})
					} else {
						openview({
							view: 'page/order/pzOrder.html',
							id: 'pzOrder',
						})
					}
				})

			}
			function goSearch() {
				openview({
					view: 'page/searchGoods.html',
					id: 'searchGoods',
				})
			}

			function goOftenList() {
				openview({
					view: 'page/ofenBuy.html',
					id: 'ofenBuy',
				})
			}
			function noDelivery(){
				openview({
					view:'page/guide/noDelivery.html',
					id:'noDelivery'
				})
			}
			function goHotList() {
				openview({
					view: 'page/hotGoods.html',
					id: 'hotGoods',
				})
			}
			function tradeLists() {
				openview({
					view: 'page/tradeList.html',
					id: 'tradeList',
				})
			}
			//签到
			function signRecord(){
				openview({
					view:'page/personal/signInDay.html',
					id:'signInDay'
				})
			}
			//收藏
			function goCollect() {
				openview({
					view: 'page/personal/collect.html',
					id: 'collect',
				})
			}
			//钱包
			function wallet() {
				openview({
					view: 'page/wallet.html',
					id: 'wallet',
				})
			}
			//工序包
			$('.gxb').click(function() {
				openview({
					view: 'page/gxb.html',
					id: 'gxb',
				})
			})
			function goodsInfo(id) {
				openview({
					view: 'page/goodsInfo.html',
					id: 'goodsInfo',
					extrasobj: {
						goodId: id
					}
				})

			}
			function openDetail(id,tit) {
				openview({
					view: 'page/tradeSchoolLnfo.html',
					id: 'tradeSchoolLnfo',
					extrasobj: {
						tradeId: id,
						tit:tit
					}
				})
			}
			function guideCredit() {
				openview({
					view: 'page/guide/guideCredit.html',
					id: 'guideCredit',
				})
			}
		</script>



		<script type="text/javascript">
			var aniShow = {};
			mui.init({
				swipeBack: false //启用右滑关闭功能
			});

			mui.plusReady(function() {
				var badge = null;
				plus.navigator.setStatusBarBackground('#f7f7f7');
				// 设置系统状态栏样式为深色前景色样式
				plus.navigator.setStatusBarStyle('dark');
				//				plus.storage.clear();
				//获取购物车数量
				var cartNum = plus.storage.getItem('cartNums') || 0;
				if(cartNum>999){
					cartNum= '999+'
				}

				document.addEventListener('cart_refresh', function() {
					//获取购物车数量
					cartNum = plus.storage.getItem('cartNums');
					if(cartNum>999){
						cartNum= '999+'
					}
					if(cartNum != 0){
						drawBadge();
					}else{
						drawBadge('hide');
					}

				})
				document.addEventListener('refreshid', function() {
					//底部选项卡切换
					util.toggleNview(3);
				})
				document.addEventListener('refreshpage', function() {
					//底部选项卡切换
					util.toggleNview(0);
					util.changeSubpage(targetPage, activePage, aniShow);
					
				})
				var self = plus.webview.currentWebview(),
					leftPos = Math.ceil((window.innerWidth - 60) / 2); // 设置凸起大图标为水平居中
				//开启回弹
				self.setStyle({
					bounce: "vertical",
					bounceBackground:"#efeff4",
				});
				/**
				 * drawNativeIcon 绘制带边框的半圆，
				 * 实现原理：
				 *   id为bg的tag 创建带边框的圆
				 *   id为bg2的tag 创建白色矩形遮住圆下半部分，只显示凸起带边框部分
				 * 	 id为iconBg的红色背景图
				 *   id为icon的字体图标
				 *   注意创建先后顺序，创建越晚的层级越高
				 */
				var drawNativeIcon = util.drawNative('icon', {
					bottom: '5px',
					left: leftPos + 'px',
					width: '60px',
					height: '65px'
				}, [{
					tag: 'rect',
					id: 'bg',
					position: {
						top: '1px',
						left: '0px',
						width: '100%',
						height: '100%'
					},
					rectStyles: {
						color: '#fff',
						radius: '50%',
						borderColor: '#ccc',
						borderWidth: '0.5px'
					}
				}, {
					tag: 'rect',
					id: 'bg2',
					position: {
						bottom: '-0.5px',
						left: '0px',
						width: '100%',
						height: '45px'
					},
					rectStyles: {
						color: '#fff'
					}
				}, {
					"tag": "font",
					"id": "newwindowIcon",
					"text": "\ue647",
					"position": {
						"top": "4px",
						"left": "0%",
						"width": "100%",
						"height": "68%"
					},
					"textStyles": {
						"fontSrc": "_www/fonts/iconfont1.ttf",
						"align": "center",
						"size": "28px",
						"color":"#888"
					}
				}, {
					tag: 'font',
					id: 'icon',
					text: '去下单', //此为字体图标Unicode码'\e600'转换为'\ue600'
					position: {
						top: '22px',
						left: '5px',
						width: '50px',
						height: '100%'
					},
					textStyles: {
						align: 'center',
						color: '#888',
						size: '11px'
					}
				}]);
				// append 到父webview中
				self.append(drawNativeIcon);

				//初始化下料清单角标
				if(cartNum != 0){
					drawBadge();
				}else{
					drawBadge('hide');
				}
				function drawBadge(hide) {
					if(badge){badge.clear()}
					//绘制角标
					badge = util.drawNative('icon', {
						bottom: '30px',
						left: '68%',
						width: '20px',
						height: '15px'
					}, [{
						tag: 'rect',
						id: 'iconBg',
						position: {
							top:'0px',
							left: '0px',
							width: '20px',
							height: '15px'
						},
						rectStyles: {
							color: '#E73A38',
							radius: '50%'
						}
					}, {
						tag: 'font',
						id: 'icon',
						text: cartNum, //此为字体图标Unicode码'\e600'转换为'\ue600'
						position: {
							top: '0px',
							left: '0px',
							width: '100%',
							height: '100%'
						},
						textStyles: {
							align: 'center',
							color: '#fff',
							size: '10px'
						}
					}]);
					if(!hide){self.append(badge);}

				}

				//自定义监听图标点击事件
				var active_color = '#fff';
				drawNativeIcon.addEventListener('click', function(e) {
					mui.openWindow({
					    url:'quicklyOrder.html',
					    id:'quicklyOrder',
					    styles:{
					  	  	background:'transparent',
					    },
					    show:{
					      aniShow:'slide-in-bottom',//页面显示动画，默认为”slide-in-right“；
					    }
					})
				});
				// 中间凸起图标绘制及监听点击完毕

				// 创建子webview窗口 并初始化
				var aniShow = {};
				util.initSubpage(aniShow);

				var nview = plus.nativeObj.View.getViewById('tabBar'),
					activePage = plus.webview.currentWebview(),
					targetPage,
					subpages = util.options.subpages,
					pageW = window.innerWidth,
					currIndex = 0;

				/**
				 * 根据判断view控件点击位置判断切换的tab
				 */
				nview.addEventListener('click', function(e) {
					var clientX = e.clientX;
					if(clientX > 0 && clientX <= parseInt(pageW * 0.25)) {
						currIndex = 0;
					} else if(clientX > parseInt(pageW * 0.25) && clientX <= parseInt(pageW * 0.45)) {
						currIndex = 1;
					} else if(clientX > parseInt(pageW * 0.45) && clientX <= parseInt(pageW * 0.8)) {
						currIndex = 2;
					} else {
						currIndex = 3;
					}
					// 匹配对应tab窗口
					if(currIndex > 0) {
						targetPage = plus.webview.getWebviewById(subpages[currIndex - 1]);
					} else {
						targetPage = plus.webview.currentWebview();
					}

					if(targetPage == activePage) {
						return;
					}

					//底部选项卡切换
					util.toggleNview(currIndex);
					// 子页面切换
					util.changeSubpage(targetPage, activePage, aniShow);
					//更新当前活跃的页面
					activePage = targetPage;

				});

			});
		</script>
	</body>

</html>