<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>还款记录</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/commonY.css"/>
		<link rel="stylesheet" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/configW.css" />
	</head>
	<style type="text/css">
		.categray div {
			width: 80%;
			vertical-align: top;
		}

		.mui-media {
			position: relative;
		}

		.check {
			position: absolute;
			top: 50%;
			-webkit-transform: translateY(-50%);
			width: 25px;
			left: 20px;
		}

		#useCoupon {
			position: fixed;
			bottom: 10px;
			width: 80%;
			margin: auto;
			left: 10%;
			height: 40px;
		}
		.righticon{
			    position: absolute;
			    right: 10px;
			    top: 50%;
			    -webkit-transform: translateY(-50%);

		}

	</style>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">还款记录</h1>
		</header>
		<script src="../../js/statusBar.js" type="text/javascript" charset="utf-8"></script>
		<div class="mui-content" style="margin-top: 7px;">
			<!--商品列表-->
			<div class="goodsList" id="goodsList" style="margin-bottom: 50px;"></div>
			<script type="text/html" id="dataS0">
				<ul class="mui-table-view">
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									还款金额 &nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon">¥<%= list.repaymentMoney%></span>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									还款方式 &nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon"><%= list.repaymentType%></span>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									还款单号&nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon"><%= list.repaymentNumber%></span>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									还款日期&nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon"><%= list.repaymentTime%></span>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									订单号&nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon"><%= list.orderNumber%></span>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									顾客姓名&nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon"><%= list.customerName%></span>
					</li>
					<li class="mui-table-view-cell mui-media">
						<a href="javascript:;">
							<div class="mui-media-body ft16">
								<p class='mui-ellipsis maincl ft15'>
									顾客电话&nbsp; &nbsp;
								</p>
							</div>
						</a>
						<span class="mui-pull-right titcl righticon"><%= list.customerPhone%></span>
					</li>
				</ul>
			</script>

		</div>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui.plusReady(function() {
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				var userId = plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				var orderNumber = plus.webview.currentWebview().orderNo;

				mui.ajax(serverUrl + '/app/seller/arrearsAudit/repayment/detail', {
					data: {
						'userID':userId,
						'identityType': identityT,
						'orderNumber':orderNumber
					},
					dataType: 'json',
					headers: {
						"Authorization": oldToken
					},
					type: 'post',
					timeout: 10000,
					success: function(data, type, xhr) {
						console.log('还款记录详情', data);
						if(data.code == 0) {
							$('#goodsList').html(template('dataS0',{list:data.content}));
						} else {
							$('#goodsList').html( '<p style="text-align:center;padding: 20px;font-size: 16px;">'+data.message || '没有数据' +'</p>');
						}
					},
					error: function(xhr, type, errorThrown) {
						console.error('还款记录详情响应失败');
					}
				});


			})
		</script>
	</body>

</html>