<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>订单物流</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/configW.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/commonY.css">
		<link rel="stylesheet" type="text/css" href="../../css/indexY.css">
		<link rel="stylesheet" href="../../css/resetY.css">
		<link rel="stylesheet" href="../../css/yOrder.css">
		<style type="text/css">
			body{background-color: #fff;}
			header.mui-bar{z-index: 200;}
			.mui-content{background-color: #fff;}
			#maskInfo {
				z-index: 99999;
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
				bottom: 0;
				background-color: rgba(0, 0, 0, .5)
			}
			.wuliu {
				background-color: white;
				position: absolute;
				right: 10px;
				left: 10px;
				top: 50%;
				padding: 15px;
				-webkit-transform: translateY(-50%);
				border-radius: 3px;
			}
			.mui-bar .mui-title{right: 60px!important;}
			
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单物流</h1>
			<div class="mui-pull-right activecl addwl" style="margin-top: 15px;">新增物流</div>
		</header>
		<script src="../../js/statusBar.js" type="text/javascript" charset="utf-8"></script>
		<div class="mui-content">
			<!--loading-->
			<div id="loadingdiv" style="text-align: center;font-size: 14px;height:42px;
				line-height: 30px;color: #666;-webkit-transition: all .3s;overflow: hidden;">
				<img style="width: 30px;margin-top:10px;" src="../../img/Rolling.svg"/>
			</div>
			<!--loading结束-->
			<div id="dataDiv1"></div>
			<script type="text/html" id="dataScript1">
				<div class="huiZ f17 afterBorder" style="padding: 15px;line-height: 20px;">
					订单编号：<span class="f17 huiZ" id='balance'><%= list.orderNumber%></span>
				</div>
				<!--<div class="huiZ f17" style="padding: 15px;line-height: 20px;">
					出货单号（物流编号）：<span class="f17 huiZ" id='balance'><%= list.orderNumber%></span>
				</div>-->

				<div class="DWinfoList">
					<% for(var i=0; i<list.logisticsDetail.length; i++){%>
						<% if(i == 0){%>
							<div class="active">
								<h5 style="color:#B62D29"><%= list.logisticsDetail[i].describe%></h5>
								<p class="activecl"><%= list.logisticsDetail[i].createTime%> <span style="color:#B62D29"> <%= list.logisticsDetail[i].logisticsType%> </span></p>
								<img src="../../img/hongdian.svg"/>
							</div>
						<%} else{%>
							<div>
								<h5><%= list.logisticsDetail[i].describe%></h5>
								<p><%= list.logisticsDetail[i].createTime%> <span> <%= list.logisticsDetail[i].logisticsType%> </span></p>
								<img src="../../img/huidian.svg"/>
							</div>
						<%} %>
					<% }%>
				</div>
			</script>


		</div>
		<!--操作表-->
		<div id="maskInfo" style="display: none;">
			<div class="wuliu ft16">
				<!--<div style="position: relative;">
					<select style="width: 100%;">
						<option value="">选择物流状态</option>
						<option value="">xxx2</option>
						<option value="">xxx3</option>
					</select>
					<span style="position: absolute;right: 5px;top:7px;" class="mui-icon mui-icon-arrowdown"></span>
				</div>-->
				<br />
			 	<textarea id="notice" placeholder="输入状态备注" rows="4" cols=""></textarea>
			 	<div class="pad10 fttc">
			 		<button class="mar10 mtclose">取消</button>
			 		<button class="mui-btn mui-btn-danger mar10 upwl">提交</button>
			 	</div>

			</div>
		</div>
		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			mui('.addwl')[0].onclick = function(){
				$('#maskInfo').show()
			}
			mui('.mtclose')[0].onclick = function(){
				$('#maskInfo').hide()
			}
			mui('#maskInfo')[0].onclick = function(){
				$('#maskInfo').hide()
			}
			mui('.wuliu')[0].onclick = function(){
				event.stopPropagation()
			}
			mui.plusReady(function(){
				//获取缓存
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				var userId = plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				var orderNo = plus.webview.currentWebview().orderNo;
				getWl();
				function getWl(){
					mui.ajax(serverUrl + '/app/delivery/detail',{
						data:{'orderNumber':orderNo,'userId':userId,'identityType':identityT},
						dataType:'json',
						type:'post',
						timeout:10000,
						headers:{"Authorization":oldToken},
						success:function(data,type,xhr){
							console.log('物流信息',data);
							if(data.code == 0){
								$('#loadingdiv').css('height','0px');
								if(data.content){
									document.getElementById('dataDiv1').innerHTML = template('dataScript1',{list:data.content});
								}else{
									document.getElementById('dataDiv1').innerHTML = '暂无数据';
								}
							}else{
								$('#loadingdiv').css('height','0px');
								mui.toast(data.message);
								document.getElementById('dataDiv1').innerHTML = '<div style="padding: 20px;text-align: center;">暂无数据</div>';
							}
						},
						error:function(xhr,type,errorThrown){
							console.log('响应失败  !');
						}
					});
				}
				mui('.upwl')[0].onclick = function(){
					var desp = $('#notice').val();
					if(!desp){
						mui.toast('请输入物流信息')
					}else{
						plus.nativeUI.showWaiting();
						mui.ajax(serverUrl + '/app/delivery/update/status',{
							data:{'userID':userId,identityType:identityT,orderNumber:orderNo,description:desp},
							dataType:'json',
							type:'post',
							timeout:10000,
							headers:{"Authorization":oldToken},
							success:function(data,type,xhr){
								console.log('新增物流信息',data);
								if(data.code == 0){
									plus.nativeUI.closeWaiting();
									mui.toast('新增物流状态成功');
									$('#maskInfo').hide()
									getWl();
								}else{
									mui.toast(data.message);
								}
							},
							error:function(xhr,type,errorThrown){
								console.log('响应失败  !');
							}
						});
					}
				}

			})
		</script>
	</body>

</html>