<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>退货(待评价)列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/configW.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/commonY.css">
		<link rel="stylesheet" type="text/css" href="../../css/indexY.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/resetY.css">
		<link rel="stylesheet" href="../../css/youxd.css">
		<link rel="stylesheet" href="../../css/feedback.css">
		<style type="text/css">
			body{padding-bottom: 10px;}
			.fsearch::-webkit-input-placeholder {
				color: gray!important;
				text-align: left;
				font-size: 12px!important;
			}
			.mui-input-clear~.mui-icon-clear{right: 10px!important;top: 7px!important;}
			.tuihuofangshi{position: relative;bottom: -5px;overflow: hidden;}
			.tuihuofangshi div{color: #333;font-size: 16px;line-height: 22px;margin-bottom: 0;padding: 0 15px;}
			.tuihuofangshi div p{color: #333;font-size: 16px;}
			.tuihuofangshi div span{color: #848484;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" id="mui-title1"></h1>
			<span class="mui-icon mui-icon-search mui-pull-right" id="openSearch" style="display: none;"></span>
		</header>
		<script src="../../js/statusBar.js"></script>
		<div id="main" style="padding-top: 48px !important;">
			<div class="notice">
				<!--tab切换-->
				<div class="tab-hd tab-hdtwo" id="tabLink" style="display: none;">
					<ul class="tab-nav">
					  <li class="active aClick " data-statusId="">全部</li>
					  <li class="aClick" data-statusId="1">待付款</li>
					  <li class="aClick" data-statusId="1">待收货</li>
					  <li class="aClick" data-statusId="1">已完成</li>
					  <li class="aClick" data-statusId="1">已取消</li>
					</ul>
				</div>
				<!--搜索-->
				<div class="tab-hd tab-hdtwo" id="tabLink2" style="display: none;">
					<div class="searchFind">
						<span class="mui-icon mui-icon-search mui-icon-search2" id="clickSearch"></span>
						<div class="sint">
							<form id="searchf" class="mui-input-row">
								<input type="search" id="valInt" class="fsearch mui-input-clear" placeholder="订单号、退单号、会员名字及电话、商品">
							</form>
							<span class="back" id="cancelSearch">取消</span>
						</div>
					</div>
				</div>
				<!--列表loading-->
				<div id="loadingdiv" style="text-align: center;font-size: 14px;height:32px;
					line-height: 30px;color: #666;-webkit-transition: all .3s;overflow: hidden;">
					<img style="width: 30px;margin-top:5px;" src="../../img/Rolling.svg"/>
				</div>
				<!--列表loading结束-->
				<div id="infoListDiv">
					<!--内容-->
				</div>
				<div class="upload text-center text-xs gray" id="upload"></div>
				<!--退货列表-->
				<script id="infoList" type="text/html">
					<%for(var i=0;i<list.length;i++){%>
						<% if(nowState == '全部' || nowState == list[i].status){ %>
							<div class="orderList">
								<h3 class="h3" onclick="openDetail('<%= list[i].returnNo%>')">
									退单编号：<%= list[i].returnNo%>
									<span><%= list[i].statusDesc%></span>
								</h3>
								<p class="p1" onclick="openDetail('<%= list[i].returnNo%>')">
									<% if(list[i].goodsImgList && list[i].goodsImgList.length){%>
										<%for(var j=0; j<list[i].goodsImgList.length; j++){%>
											<a><img class="loadPics" src="../../img/loadBack.svg" data-src="<%= list[i].goodsImgList[j] || '../../img/editset.png'%>"/></a>
										<%} %>
									<% }else{%>
										<a><img class="loadPics" src="../../img/loadBack.svg"/></a>
									<% }%>

								</p>
								<!--<div class="pad10 afterBorder">
									地址:<%=list[i].shippingAddress%>
								</div>-->
								<div class="orderInfo fineB0" style="padding-bottom: 3px;">
									共<%= list[i].count%>件商品 退款金额：<span>¥ <%= list[i].returnPrice%></span>
								</div>
								<div class="tuihuofangshi">
									<div>
										<% if(list[i].customer && list[i].customer.customerName){ %>
											<span>会员名称 : </span><%= list[i].customer.customerName%>
										<% } %>
										<% if(list[i].customer && list[i].customer.customerPhone){ %>
											<p style="float: right;"><span>会员电话 : </span><%= list[i].customer.customerPhone%></p>
										<% } %>
									</div>
									<% if(list[i].returnDeliveryType){ %>
										<% if(list[i].returnDeliveryType == 'RETURN_STORE'){ %>
											<div><span>退货方式 : </span>退货到店</div>
										<% }else{ %>
											<div><span>退货方式 : </span>工地取货</div>
										<% } %>
									<% } %>
								</div>
								<div class="orderBtns">
									<!--orderDeliveryType == '送货上门 HOUSE_DELIVERY' ，配送单 ===== 已提交，退货中 -->
									<!--orderDeliveryType == '门店自提 SELF_TAKE' ，自提单 ===== 已提交 -->
									<%if(list[i].orderDeliveryType == 'HOUSE_DELIVERY'){%>
										<%if(list[i].statusDesc == '已提交' || list[i].statusDesc == '退货中'){%>
											<span class="redC" onclick="cancelTHFun('<%= list[i].returnNo%>',this)">取消退货</span>
										<%}%>
									<%}else if(list[i].orderDeliveryType == 'SELF_TAKE'){%>
										<%if(list[i].statusDesc == '已提交'){%>
											<span class="redC" onclick="cancelTHFun('<%= list[i].returnNo%>',this)">取消退货</span>
										<%}%>
									<%}%>
								</div>
							</div>
						<%}%>
						<!--没有相关状态-->
						<% if(i == list.length-1 && nowState != '全部' && nowState != list[i].status){ %>
							<div style="text-align: center;padding: 50px;">
								<img src="../../images/order/order.png" style="width: 100px;" />
								<div class="ft13 disablecl">暂无相关订单</div>
							</div>
						<% } %>
					<%}%>
				</script>
				<!--评价列表-->
				<script id="infoListP2" type="text/html">
					<%for(var i=0;i<list.length;i++){%>
						<% if(nowState == '全部' || nowState == list[i].status){ %>
							<div class="orderList">
								<h3 class="h3" onclick="openDetail2('<%= list[i].orderNo%>')">
									<%if(list[i].deliveryType == 'HOUSE_DELIVERY'){%>
										上门取货
									<%}else if(list[i].deliveryType == 'SELF_TAKE'){%>
										门店自提
									<%}else{%>
										购买产品券
									<%}%>
									<b style="float: right;color: #c7161e;font-weight: 400;">
										待评价
									</b>
									<span><%= list[i].statusDesc%></span>
								</h3>
								<p class="p1" onclick="openDetail2('<%= list[i].orderNo%>')">
									<% if(list[i].goodsImgList && list[i].goodsImgList.length){%>
										<%for(var j=0; j<list[i].goodsImgList.length; j++){%>
											<a><img class="loadPics" src="../../img/loadBack.svg" data-src="<%= list[i].goodsImgList[j]%>"/></a>
										<%} %>
									<% }else{%>
										<a><img class="loadPics" src="../../img/loadBack.svg"/></a>
									<% }%>

								</p>
								<div class="pad10 afterBorder">
									地址:<%=list[i].shippingAddress%>
								</div>
								<% if(pj != 1){%>
									<div class="orderInfo">
										共<%= list[i].count%>件商品 退款金额：<span>¥ <%= list[i].returnPrice%></span>
									</div>
								<% }else{%>
									<div class="orderInfo">
										共<%= list[i].count%>件商品 商品总额：<span>¥ <%= list[i].price%> </span>
									</div>
								<%}%>
								<div class="orderBtns">
									<span class="redC" onclick="evaFun('<%= list[i].orderNo%>',this)">评价</span>
								</div>
							</div>
						<%}%>
						<!--没有相关状态-->
						<% if(i == list.length-1 && nowState != '全部' && nowState != list[i].status){ %>
							<div style="text-align: center;padding: 50px;">
								<img src="../../images/order/order.png" style="width: 100px;" />
								<div class="ft13 disablecl">暂无相关订单</div>
							</div>
						<% } %>
					<%}%>
				</script>

			</div>

			<!--订单评价DOM-->
			<div class="cancelDiv" id="evaOrder" style="display: none;">
				<div class="cancelCon">
					<div class="cancelMin">
						<div class="Dpart3" id="evaluat" style="overflow: hidden;">
							<h4 class="fineB dingdanPJ">订单服务评价： </h4>
							<div class="mui-content-padded">
								<div class="vm">
									<span>产品：</span><!--mui-icon-star-filled-->
									<div class="icons mui-inline" style="margin-left: 6px;vertical-align: middle;display: inline;">
										<i data-index="1" class="mui-icon mui-icon-star"></i>
										<i data-index="2" class="mui-icon mui-icon-star"></i>
										<i data-index="3" class="mui-icon mui-icon-star"></i>
										<i data-index="4" class="mui-icon mui-icon-star"></i>
										<i data-index="5" class="mui-icon mui-icon-star"></i>
									</div>
								</div>
							</div>
							<div class="mui-content-padded">
								<div class="vm">
									<span>物流：</span><!--mui-icon-star-filled-->
									<div class="icons mui-inline" style="margin-left: 6px;vertical-align: middle;display: inline;">
										<i data-index="1" class="mui-icon mui-icon-star"></i>
										<i data-index="2" class="mui-icon mui-icon-star"></i>
										<i data-index="3" class="mui-icon mui-icon-star"></i>
										<i data-index="4" class="mui-icon mui-icon-star"></i>
										<i data-index="5" class="mui-icon mui-icon-star"></i>
									</div>
								</div>
							</div>
							<div class="mui-content-padded">
								<div class="vm">
									<span>服务：</span><!--mui-icon-star-filled-->
									<div class="icons mui-inline" style="margin-left: 6px;vertical-align: middle;display: inline;">
										<i data-index="1" class="mui-icon mui-icon-star"></i>
										<i data-index="2" class="mui-icon mui-icon-star"></i>
										<i data-index="3" class="mui-icon mui-icon-star"></i>
										<i data-index="4" class="mui-icon mui-icon-star"></i>
										<i data-index="5" class="mui-icon mui-icon-star"></i>
									</div>
								</div>
							</div>
							<div class="cancelBtn">
								<button type="button" class="mui-btn operating11">取消</button>
								<button type="button" id="operating22" class="mui-btn mui-btn-danger ">确定</button>
							</div>
							<!--<button class="dingdanPingjia mui-pull-right">提交评价</button>-->
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/youxd.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			$('#evaluat').click(function(){
				event.stopPropagation();
			})
			mui.plusReady(function(){
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				if(plus.webview.currentWebview().lookCusid){
					identityT = 6;
				}
				var userId = plus.webview.currentWebview().lookCusid || plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				var pingjia = plus.webview.currentWebview().type;//待评价
				var noButton = plus.webview.currentWebview().isNoButton;
				if(pingjia){
					mui('#mui-title1')[0].innerHTML = '待评价';
				}else{  //这是评价
					$('#openSearch').css('display','block');
					mui('#mui-title1')[0].innerHTML = '退货';
				}
				loadFun('全部');//初始化
				//打开 退货 订单详情
				window.openDetail = function(orderNo,userId){
					openview({
						view:'myOrderRTdetail.html',
						id:'myOrderRTdetail',
						extrasobj:{
							orderNo:orderNo,
							noButton:noButton,
							lookCusid:userId
						}
					})
				}
				//打开订单详情
				window.openDetail2 = function(orderNo,evaluat,id,cusid){
					openview({
						view:'myOrderDetail.html',
						id:'myOrderDetail',
						extrasobj:{
							orderNo:orderNo,
							evaluat:evaluat,
							cancelParentId:id,//父元素ID
							noButton:noButton,
							lookCusid:userId,
							cusId:cusid
						}
					})
				}
				downRe(loadFunrf);
				function loadFunrf(){
					loadFun('全部')
				}
				function loadFun(tabT,condition){//搜索和tab切换 ，公用一个加载方法
					var Spagenum = 2, Ypagenum = 1, oneSize = 10;
					document.getElementById('infoListDiv').innerHTML = '';
					$('#loadingdiv').css('height','32px');
					var nowApi = '/app/returnOrder/list';
					var nowData = {'userId':userId,'identityType':identityT,'showStatus':3,'page':1,'size':oneSize};
					if(condition){nowData.keywords = condition}//加入搜索字段
					//var nowData = {'userId':53,'identityType':6,'showStatus':3,'page':1,'size':oneSize};
					if(pingjia){
						nowApi = '/app/order/list/pending/evaluation';
					}
					mui.ajax(serverUrl + nowApi,{
						data:nowData,
						dataType:'json',
						type:'post',
						timeout:100000,
						headers:{"Authorization":oldToken},
						success:function(data,type,xhr){
							console.log(pingjia?'评价':'退货' +'订单',data);
							var timeLoad = setInterval(function(){
								clearTimeout(timeLoad),timeLoad = null;
								if(data.code == 0){
									$('#loadingdiv').css('height','0px');
									if(data.content.list && data.content.list.length){
										data.content.list.forEach(function(ele,index){
											if(ele.orderNo){
												ele.orderNo2 = ele.orderNo.substr(0, 5) + '****' + ele.orderNo.substr(20);
											}
										})
										if(pingjia){
											document.getElementById('infoListDiv').innerHTML = template('infoListP2',{list:data.content.list,nowState:tabT,pj:1});
										}else{
											document.getElementById('infoListDiv').innerHTML = template('infoList',{list:data.content.list,nowState:tabT});
										}
										if(noButton == 1){
											$('.orderBtns').empty()
										}
									}else{
										document.getElementById('infoListDiv').innerHTML = '<div style="text-align: center;padding: 50px;"><img src="../../images/order/order.png" style="width: 100px;" /><div class="ft13 disablecl">暂无相关订单</div></div>';
									}
									lazyLoad();

									//下拉加载
									$(window).scroll(function() {
										var scrollTop = SH0 = $(this).scrollTop(),scrollHeight = $(document).height(),windowHeight = $(this).height();
										if(scrollTop + windowHeight == scrollHeight) {
											if(Spagenum <= data.content.pages && Spagenum == Ypagenum + 1) { //当前页小于等于总页数时请求下一页
												document.getElementById('upload').innerHTML = "<img src='../../img/Rolling.svg' />";
												Ypagenum++;console.log('发起请求,实到' + Spagenum + '页');console.log('发起请求,应到' + Ypagenum + '页');
												nowData = {'userId':userId,'identityType':identityT,'showStatus':3,'page':Spagenum,'size':oneSize};
												if(condition){nowData.keywords = condition}//加入搜索字段
												mui.ajax(serverUrl + nowApi,{
							                        data:nowData,
							                        dataType:'json',
							                        type:'post',
							                        timeout:100000,
							                        headers:{"Authorization":oldToken},
							                        success:function(data,type,xhr){
							                           console.log(pingjia?'评价':'退货' +'订单续',data);
						                                if(data.code == 0){
															$('#loadingdiv').css('height','0px');
															if(data.content){
																if(data.content.list && data.content.list.length){
																	data.content.list.forEach(function(ele,index){
																		if(ele.orderNo){
																			ele.orderNo2 = ele.orderNo.substr(0, 5) + '****' + ele.orderNo.substr(20);
																		}
																	})
																	if(pingjia){
																		document.getElementById('infoListDiv').innerHTML += template('infoListP2',{list:data.content.list,nowState:tabT,pj:1});
																	}else{
																		document.getElementById('infoListDiv').innerHTML += template('infoList',{list:data.content.list,nowState:tabT});
																	}
																}
																if(noButton == 1){
																	$('.orderBtns').empty()
																}
															}
															lazyLoad();
						                                }
							                             document.getElementById('upload').innerHTML = '';
														Spagenum++;console.log('成功+1,实到' + Spagenum);console.log('成功+1,应到' + Spagenum);
							                        },
							                        error:function(xhr,type,errorThrown){
								                        	Ypagenum--;document.getElementById('upload').innerHTML = '';
							                        }
							                    });
											} else if(Spagenum == data.content.pages + 1) { //当前页不小于等于总页数时请求下一页
												document.getElementById('upload').innerHTML = "没有更多了";
											}
										}
									});
									//下拉加载结束
								}else{
									$('#loadingdiv').css('height','0px');
									document.getElementById('infoListDiv').innerHTML = '<div style="text-align: center;padding: 50px;"><img src="../../images/order/order.png" style="width: 100px;margin-bottom: 8px;" /><div class="ft13 disablecl">'+data.message+'</div></div>';
									mui.toast(data.message);
								}
							},500)
						},
						error:function(xhr,type,errorThrown){
							console.log('响应失败  !');
							$('#loadingdiv').css('height','0px');
							document.getElementById('infoListDiv').innerHTML = '<div style="text-align: center;padding: 50px;"><img src="../../images/order/order.png" style="width: 100px;" /><div class="ft13 disablecl">当前网络不好，请重试</div></div>';
						}
					});
				}

				//取消退货
				window.cancelTHFun = function(id,that){
					mui.confirm('确认要取消退货？','提示',['取消','确定'],function(e){
					    if(e.index==1){
					    		mui.ajax(serverUrl + '/app/returnOrder/cancel',{//获取取消原因
								data:{'userId':userId,'identityType':identityT,'returnNumber':id},
								dataType:'json',
								type:'post',
								timeout:10000,
								headers:{"Authorization":oldToken},
								success:function(data,type,xhr){
									console.log('取消退货',data);
									if(data.code == 0){
										mui.fire(plus.webview.getWebviewById('center.html'),'OrderNumR');
										mui.toast(data.message || '取消退货成功');
										that.style.display = 'none';
									}else{
										mui.toast(data.message);
									}
								},
								error:function(xhr,type,errorThrown){
									console.error('取消退货，响应失败  !');
								}
							});
					    }
				  	});
				}


				//搜索操作
				$('#openSearch').click(function() {
					$('#tabLink2').css('display', 'block');
					$(this).css('display', 'none');
				})
				$('#cancelSearch').click(function() {
					$('#tabLink2').css('display', 'none');
					$('#openSearch').css('display', 'block');
				})
				$('#searchf').submit(function() {
					var valInt = $('#valInt').val();
					loadFun('全部', valInt);
					return false;
				})
				$('#clickSearch').click(function() {
					var valInt = $('#valInt').val();
					loadFun('全部', valInt);
				})
				//搜索操作 结束

				/*订单评价*/
				$('.operating11').click(function(){//点取消
					$('#evaOrder').css('display','none');
					resetStar();
				})
				$('.cancelDiv').click(function(){//点遮罩
					$('#evaOrder').css('display','none');
					resetStar();
				});
				function resetStar(){//重置星级
					$('#evaluat .mui-icon').each(function(index,ele){
						$(ele).attr('class','mui-icon mui-icon-star')
					})
				}
				var oneStar=0,twoStar=0,threeStar=0,EvaluatAble=true;
				mui('.icons').on('tap','i',function(){
				  	var index = parseInt(this.getAttribute("data-index"));
				  	var parent = this.parentNode;
				  	var children = parent.children;
				  	if(this.classList.contains("mui-icon-star")){
				  		for(var i=0;i<index;i++){
			  				children[i].classList.remove('mui-icon-star');
			  				children[i].classList.add('mui-icon-star-filled');
				  		}
				  	}else{
				  		for (var i = index; i < 5; i++) {
				  			children[i].classList.add('mui-icon-star')
				  			children[i].classList.remove('mui-icon-star-filled')
				  		}
				  	}
				  	starIndex = index;
				  	//数据部分
				  	oneStar = $('.mui-content-padded').eq(0).find('.mui-icon-star-filled').length;
				  	twoStar = $('.mui-content-padded').eq(1).find('.mui-icon-star-filled').length;
				  	threeStar = $('.mui-content-padded').eq(2).find('.mui-icon-star-filled').length;
			  	});
				window.evaFun = function(orderNumber,that){
					$('#evaOrder').css('display','table');
					document.getElementById('operating22').onclick = function(){
						if(oneStar==0 || twoStar==0 || threeStar==0){
							mui.toast('每项请至少选择一个星级！');
						}else{
							var dataObj0 = {
								'userId':userId,
								'identityType':identityT,
								'productStar':oneStar,
								'logisticsStar':twoStar,
								'serviceStars':threeStar,
								'orderNumber':orderNumber
							};
							console.log(dataObj0);
							goEvaluation();
							function goEvaluation(){
								mui.ajax(serverUrl + '/app/order/evaluation/submit',{
									data:dataObj0,
									dataType:'json',
									type:'post',
									timeout:10000,
									headers:{"Authorization":oldToken},
									success:function(data,type,xhr){
										console.log('订单评价'+JSON.stringify(data));
										if(data.code == 0){
											mui.fire(plus.webview.getWebviewById('center.html'),'OrderNumR');
											mui.toast(data.message || '感谢您的评价');
											resetStar();
											$('#evaOrder').css('display','none');
											that.onclick = null;
											//that.innerHTML = '已评价';
											that.style.display = 'none';
										}else{
											mui.toast(data.message);

										}
									},
									error:function(xhr,type,errorThrown){
										console.log('响应失败  !');
										mui.toast('当前网络不好，请重试');
									}
								});
							}
						}
					}
				}

			})
		</script>
	</body>

</html>