<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的订单详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/configW.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/commonY.css">
		<link rel="stylesheet" type="text/css" href="../../css/indexY.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/resetY.css">
		<link rel="stylesheet" href="../../css/feedback.css"><!--订单星级-->
		<link rel="stylesheet" href="../../css/youxd.css">
		<script src="../../js/order0.js"></script>
		<style type="text/css">
			body{background-color: #F8F9FA;font-size: 15px;}
			#main{margin-top: 50px;}
			.cancelBtn button {margin-right: 15px;margin-left: 0;}
			.cancelBtn {text-align: right;}
			/*图片组件*/
			.disbg{border:none}
			.uppics div.onepic input{width:0;height:0;position:absolute;outline:0}
			#fangshi{background-color: #eee;padding-top: 8px;}
			.mui-checkbox, .mui-radio { display: inline-block;}
			#fangshi span{line-height: 40px;float: left;}
			.dizhis{padding: 10px;background-color: #ccc;}
			.dizhis div{padding:  5px 0;}
			.isYezhu{background-color: #eee;}
			.isYezhu .tishi{color: red;}
			.beizhu{margin-top: 30px;}
			.newAction, .newAction2 {width: 25%;height: calc((100vw - 26px) * 0.25);}
			#uppics2{padding: 0 14px;padding-right: 10px;}
			.cancelText{padding: 20px 15px 10px;}
			.cancelBtn{margin-top: 20px;}
			.evaluaCon textarea{height: 90px;}
			.copyBtn{    float: right; border: none; padding: 0 !important; color: #c7161e;}
			.dingdanPingjia{margin-top: -8px; padding: 2px 6px; border-color: #ccc; color: #c7161e;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">订单详情</h1>
		</header>
		<script src="../../js/statusBar.js"></script>

		<div id="main">
			<!--列表loading-->
			<div id="loadingdiv" style="text-align: center;font-size: 14px;height:32px;margin-bottom: 10px;
				line-height: 30px;color: #666;-webkit-transition: all .3s;overflow: hidden;">
				<img style="width: 30px;margin-top:5px;" src="../../img/Rolling.svg"/>
			</div>
			<!--列表loading结束-->
		</div>
		<script type="text/html" id="mainS">
			<div class="Dpart1">
				<h4 style="font-size: 15px !important;line-height: 1.6;">
					订单编号：<a id="copyDiv" style="color: #555;"><%= detail.orderNumber%></a>
					<button id="copyBtn" style="float: right;" class="span1 copyBtn">复制</button>
				</h4>
				<p>
					下单时间：<%= detail.createTime%>
					<span class="span2" style="color: #EE9000;"><%= detail.status%></span>
				</p>
			</div>
			<div class="Dpart1 Dpart2">
				<span class="huiC">支付方式：</span> <%= detail.payType%>
			</div>
			<div class="Dpart3">
				<div>
					<span class="huiC">收货人：</span><%= detail.receiver%> <%= detail.receiverPhone%>
				</div>
				<div>
					<span class="huiC">提货码：</span>
					<span class=""> <%= detail.pickUpCode || '无'%> </span>
				</div>
				<div>
					<span class="huiC">配送方式：</span> <%= detail.deliveryType%>
				</div>
				<div>
					<span class="huiC">配送地址：</span> <%= detail.shippingAddress%>
				</div>
				<div>
					<span class="huiC">配送时间：</span> <%= detail.deliveryTime%>
				</div>
			</div>
			<div class="Dpart4 Dpart3">
				<div>
					<span class="huiC">商品总额：</span> <span class="floL"><%= detail.BillingDetailResponse.totalPrice%>元</span>
				</div>
				<div>
					<span class="huiC">运费：</span> <span class="floL"><%= detail.BillingDetailResponse.freight%>元</span>
				</div>
				<div>
					<span class="huiC">优惠卷抵扣：</span> <span class="floL"><%= detail.BillingDetailResponse.couponDiscount%>元</span>
				</div>
				<div>
					<span class="huiC">会员抵扣：</span> <span class="floL"><%= detail.BillingDetailResponse.memberDiscount%>元</span>
				</div>
				<!--<div>
					<span class="huiC">乐豆抵扣：</span> <span class="floL"> 还没有 元</span>
				</div>-->
				<div>
					<span class="huiC">促销抵扣：</span> <span class="floL"><%= detail.BillingDetailResponse.promotionDiscount%>元</span>
				</div>
				<div>
					<span class="huiC">信用金抵扣：</span> <span class="floL"><%= detail.BillingDetailResponse.creditMoney%>元</span>
				</div>
				<div>
					<span class="huiC">产品卷抵扣：</span> <span class="floL"><%= detail.BillingDetailResponse.productCouponDiscount || 0%>元</span>
				</div>
				<div>
					<span class="huiC">预存款抵扣：</span> <span class="floL"><%= detail.BillingDetailResponse.preDeposit%>元</span>
				</div>
				<!--<div>
					<span class="redC">应付金额：</span> <span class="floL redC"><%= detail.BillingDetailResponse.leBiCashDiscount%>元</span>
				</div>-->
			</div>
			<div class="fineT" style="text-align: right;background-color: #fff;margin-top: -7px;padding: 10px 15px;margin-bottom: 7px;">
				实付款：<span class="redC"><%= detail.BillingDetailResponse.amountPayable%>元</span>
			</div>
			<!--订单评价-->
			<div class="Dpart3" id="evaluat" style="display: none;">
				<h4 class="fineB dingdanPJ">订单服务评价</h4>
				<div class="mui-content-padded">
					<div class="vm">
						<span>产品：</span><!--mui-icon-star-filled-->
						<div class="icons mui-inline" style="margin-left: 6px;vertical-align: middle;display: inline;">
							<% for(var i=1;i<detail.productStar+1;i++){%>
								<i data-index="<%= i%>" class="mui-icon mui-icon-star-filled"></i>
							<% }%>
							<% for(var j=detail.productStar+1;j<6;j++){%>
								<i data-index="<%= j%>" class="mui-icon mui-icon-star"></i>
							<% }%>
						</div>
					</div>
				</div>
				<div class="mui-content-padded">
					<div class="vm">
						<span>物流：</span><!--mui-icon-star-filled-->
						<div class="icons mui-inline" style="margin-left: 6px;vertical-align: middle;display: inline;">
							<% for(var i=1;i<detail.logisticsStar+1;i++){%>
								<i data-index="<%= i%>" class="mui-icon mui-icon-star-filled"></i>
							<% }%>
							<% for(var j=detail.logisticsStar+1;j<6;j++){%>
								<i data-index="<%= j%>" class="mui-icon mui-icon-star"></i>
							<% }%>
						</div>
					</div>
				</div>
				<div class="mui-content-padded">
					<div class="vm">
						<span>服务：</span><!--mui-icon-star-filled-->
						<div class="icons mui-inline" style="margin-left: 6px;vertical-align: middle;display: inline;">
							<% for(var i=1;i<detail.serviceStars+1;i++){%>
								<i data-index="<%= i%>" class="mui-icon mui-icon-star-filled"></i>
							<% }%>
							<% for(var j=detail.serviceStars+1;j<6;j++){%>
								<i data-index="<%= j%>" class="mui-icon mui-icon-star"></i>
							<% }%>
						</div>
					</div>
				</div>
			</div>
			<div class="proWrapAll" style="margin-bottom: 55px;">
				<%for(var i=0;i<detail.goodsList.length;i++){ %>
					<div class="proWrap fineB">
						<div class="proLeft">
							<img src="<%= detail.goodsList[i].coverImageUri%>"/>
						</div>
						<div class="proRight">
							<h4><%= detail.goodsList[i].skuName%></h4>
							<p>
								规格：<%= detail.goodsList[i].goodsSpecification%>  单位：<%= detail.goodsList[i].goodsUnit%>
								<% if(detail.status == '已完成' || detail.status == '已结案'){%>
									<% if(!detail.goodsList[i].isEvaluation){%>
										<button type="button" class="mui-btn" onclick="evaluaProduct('<%= detail.goodsList[i].goodsId%>')">评价</button>
									<% }else{%>
										<button type="button" class="mui-btn">已评价</button>
									<% }%>
								<% }%>
							</p>
							<div>
								<span class="span1">
									<%if(detail.goodsList[i].goodsType == 'PRESENT'){%>
										<em class="mui-badge mui-badge-danger" style="color: white;position: relative;top: -2px;">赠品</em>
									<%}else if(detail.goodsList[i].goodsType == 'PRODUCT_COUPON'){%>
										<em class="mui-badge mui-badge-warning" style="color: white;position: relative;top: -2px;">产品券</em>
									<%}%>
									¥<%= detail.goodsList[i].retailPrice%>
								</span>
								<span class="span2">
									x<%= detail.goodsList[i].qty%>
								</span>
							</div>

						</div>
					</div>
				<%} %>
			</div>
			<div class="footBtn">
				<% if(detail.deliveryType == '送货上门' || detail.deliveryType == '门店自提'){%>
                    <% if(detail.status == '待付款'){%>
                        <!--<span class="redC aClick" onclick="goToPay('<%= detail.orderNumber%>','<%= detail.price%>')">去支付</span>-->
                    <% }%>
                    <% if(detail.status == '待付款' || detail.status == '待发货'){%>
                        <span class="aClick" onclick="cancelFun('<%= detail.orderNumber%>',this)">取消订单</span>
                    <% }%>
                    <% if(detail.status == '已完成'){%>
                        <span class="redC aClick" onclick="openReturns('<%= detail.orderNumber%>','<%= detail.customer.customerId%>')">退货</span>
                    <% }%>
                    <span onclick="comeOnAgain('<%= detail.orderNumber%>','<%= detail.customer.customerId%>')" class="aClick">再来一单</span>
                <% }%>

                <% if(detail.deliveryType == '送货上门'){%>
                    <% if(detail.status != '待付款' && detail.status != '已取消' && detail.status != '取消中'){%>
                        <span onclick="goOrderWL('<%= detail.orderNumber%>')" class="aClick redC">查看物流</span>
                    <% }%>
                <% }%>
			</div>
		</script>

		<!--评价商品-->
		<div class="cancelDiv" id="evaluaSP" style="display: none;">
			<div class="cancelCon">
				<div class="cancelMin">
					<div class="cancelText evaluaCon">
						<textarea class="evaluaText" placeholder="评价商品成功，乐易装奖励你乐豆！"></textarea>
					</div>
					<div class="uppics clearfix" id="uppics2">
				        <div class="onepic newActionWrap">
				        		<a class="newAction2"><img id="nowpic" style="width: 89%;height: 89%;margin-left: 11%;" onclick="showAction()" src="../../img/addpic.png"></a>
				        </div>
				    </div>
					<div class="cancelBtn">
						<button type="button" class="mui-btn operating1">取消</button>
						<button type="button" id="evaluaOk" class="mui-btn mui-btn-danger operating2">确定</button>
					</div>
				</div>
			</div>
		</div>
		<!--取消订单-->
		<div class="cancelDiv" id="cancelOrder" style="display: none;">
			<div class="cancelCon">
				<div class="cancelMin">
					<h4 class="fineB h4">取消原因</h4>
					<div id="cancelDiv0"></div>
					<script type="text/html" id="cancelDiv0S">
						<% for(var i=0;i<list.length;i++){%>
							<div class="mui-input-row mui-radio mui-left">
								<label><%= list[i].reason%></label>
								<input class="reasonInfo" value="<%= list[i].reason%>" name="radio1" type="radio">
							</div>
						<% }%>
					</script>
					<div class="cancelText">
						<textarea id="remarksInfo" placeholder="请输入备注内容" name="" cols=""></textarea>
					</div>
					<div style="height: 50px;"></div>
					<div class="cancelBtn">
						<button type="button" class="mui-btn operating1">取消</button>
						<button type="button" class="mui-btn mui-btn-danger operating3">确定</button>
					</div>
				</div>
			</div>
		</div>

		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/feedback.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				var userId = plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				var orderNo = plus.webview.currentWebview().orderNo;
				var evaluat = plus.webview.currentWebview().evaluat;
				var isButton = plus.webview.currentWebview().isButton;
				var cancelParentId = plus.webview.currentWebview().cancelParentId;

				/*订单详情*/
				mui.ajax(serverUrl + '/app/order/detail',{
					data:{'userID':userId,'identityType':identityT,'orderNumber':orderNo},
					dataType:'json',
					type:'post',
					timeout:10000,
					headers:{"Authorization":oldToken},
					success:function(data,type,xhr){
						console.log('订单详情',data);
						if(data.code == 0){
							if(!data.content.customer || !data.content.customer.customerId){
								data.content.customer = {customerId:null}
							}
							data.content.BillingDetailResponse = data.content.customerBillingDetailResponse || data.content.managerBillingDetailResponse || data.content.sellerBillingDetailResponse;
							document.getElementById('main').innerHTML = template('mainS',{detail:data.content});
							if(isButton == 'no'){
								$('.footBtn,.proRight button').hide();
							}
							//显示订单评价
							if(data.content.logisticsStar || data.content.productStar || data.content.serviceStars){
								mui('#evaluat')[0].style.display = 'block';
							}
							//复制方法
							var orderNumber = data.content.orderNumber;
					        var clipboard = new Clipboard('.copyBtn', {
					        		text: function() {
						            return orderNumber;
						        }
						    });
						    clipboard.on('success', function(e) {
						    		mui.toast('复制成功');
						        console.log('成功'+e.text);
						    });
						    clipboard.on('error', function(e) {
						        console.log('失败',e);
						    });

						}else{
							mui.toast(data.message);
						}


					},
					error:function(xhr,type,errorThrown){
						console.log('响应失败  !');
					}
				});

				//订单操作
				//再来一单 ==> order0.js
				//申请退货 ==> order0.js
				//打开订单物流  ==> order0.js
				//评价订单 ==> !!（无需做）
				//支付 ==> ??

				//取消订单
				cancelOF('detail',cancelParentId);
			})

			/*商品评价*/
			$('.operating1').click(function(){//点取消
				$('#evaluaSP').css('display','none');
			})
			$('.cancelDiv').click(function(){//点遮罩
				$('#evaluaSP').css('display','none');
			})
			$('.cancelMin').click(function(){
				event.stopPropagation();
			})
			//选择图片组件
			var Apic = [],time1 = null,maxNum = 3;
			function getImage(){//拍照并保存
				var cmr = plus.camera.getCamera();
				cmr.captureImage( function ( path ) {
					plus.io.resolveLocalFileSystemURL(path,function(entry){
						path = plus.io.convertLocalFileSystemURL(path);
						if(0!=path.indexOf("file://")){path="file://"+path;}
				    		var nowpic = Math.random().toString(36).substr(2) + '.jpg';
				    		var endpic = path.split('.')[0]+"/"+nowpic;
						plus.zip.compressImage({//压缩方法
							src:path,
							dst:endpic,
							overwrite:true,
							quality:30
						},
						function(obj) {
							showImg(obj.target);
							Apic.push(obj.target);
						},function(error) {
							mui.toast('图片获取错误，请重试');
						});
					});
				}, function ( e ) {
				}, {filename:"_doc/gallery/",index:1} );
			}
			function galleryImgsSelected(){//从相册中选择图片
				mui.plusReady(function(){
				    plus.gallery.pick( function(e){
					    	clearInterval(time1);
					    	var indexNum = 0;
					    	var indexMax = e.files.length - 1;
					    	time1 = setInterval(function(){
					    		if(0!=e.files[indexNum].indexOf("file://")){e.files[indexNum]="file://"+e.files[indexNum];}
					    		if(indexNum == indexMax){//全部压缩完毕
					    			clearInterval(time1),time1 = null;
					    		}
					    		var nowpic = Math.random().toString(36).substr(2) + '.jpg';//随机字符串
					    		var endpic = e.files[indexNum].split('.')[0]+"/" +nowpic;
				    			plus.zip.compressImage({
								src:e.files[indexNum],
								dst:endpic,
								overwrite:true,
								quality:30
							},
							function(obj) {
								Apic.push(obj.target);
								showImg(obj.target,indexNum);
							},function(error) {
								mui.toast('图片获取错误，请重试');
							});
					    		indexNum ++;
					    	},500)
				    }, function ( e ) {
				    },{filter:"image",multiple:true,maximum:maxNum-Apic.length,system:false,onmaxed:function(){//保存选择记录
				    		mui.alert('最多选择'+maxNum+'张图片！');
				    }});
				})
			}
			function showImg(url,indexNum){//显示图片
				if(0!=url.indexOf("file://")){url="file://"+url;}
				if($('.newAction').length){
					$('.newAction').eq($('.newAction').length-1).after('<a class="newAction"><img data-preview-src="" data-preview-group="1" src="'+url+'"/><span onclick="closePic(this)" class="mui-icon mui-icon-closeempty"></span></a>');
				}else{
					$('.onepic').prepend('<a class="newAction"><img data-preview-src="" data-preview-group="1" src="'+url+'"/><span onclick="closePic(this)" class="mui-icon mui-icon-closeempty"></span></a>');
				}
			}
			function closePic(obj){
				var nowPic = $(obj).parentsUntil('.newActionWrap').find('img').attr('src');
				console.log($(obj).parent().html())
				$(obj).parent().remove();
				if(Apic.indexOf(nowPic)>-1){
					Apic.splice($.inArray(nowPic,Apic),1);
				}
			}
			function showAction(){
				if(Apic.length  < maxNum){
					mui.plusReady(function(){
						plus.nativeUI.actionSheet({
							cancel: "取消",
							buttons: [{
								title: "相册选择"
							}, {
								title: '拍照'
							}]
						},
						function(e) {
							if (e.index == 1) { //点击从相册选择
								galleryImgsSelected();
							} else if (e.index == 2) {
								getImage();
							}
						})
					})
				}else{
					mui.alert('最多选择'+maxNum+'张图片！');
				}

			}
			//选择图片组件结束
			function evaluaProduct(goodId){
				$('#evaluaSP').css('display','table');
				mui.plusReady(function(){
					var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
					var userId = plus.storage.getItem('$userId');
					var oldToken = plus.storage.getItem('oldToken');
					var orderNo = plus.webview.currentWebview().orderNo;
					var cancelParentId = plus.webview.currentWebview().cancelParentId;

					//确认评价
					document.getElementById('evaluaOk').onclick = function(){
						var content = $('.evaluaText').val();
						if(!content){
							mui.toast("还未填写内容呢！");
			    	   			mui('.evaluaText')[0].focus();
//						}else if(!Apic.length){
						}else if(false){
					    		mui.toast("请添加图片");
					    	}else{
					    		plus.nativeUI.showWaiting();
							//发送数据开始
							var task = plus.uploader.createUpload(serverUrl+'/app/order/evaluation/goods/submit',
								{ method:"POST"},
								function(back,status){
									if(status == 200){
										console.log(back.responseText);
										var dataobj = JSON.parse(back.responseText);
										console.log('评价商品',JSON.stringify(dataobj));
										plus.nativeUI.closeWaiting(); //关闭等待框
										if(dataobj.code == 0){
											mui.toast("评价成功！");
											$('#evaluaSP').css('display','none');
											$('.evaluaText').val('');
											Apic = [];
											$('.onepic').html('<a class="newAction2"><img id="nowpic" style="width: 89%;height: 89%;margin-left: 11%;" onclick="showAction()" src="../../img/addpic.png"></a>');
										}else{
											mui.toast(dataobj.message);
										}
									}else{
										plus.nativeUI.closeWaiting();
										mui.toast("当前网络不好，请重试！");
										console.log('响应失败  !');
									}
								}
							);

							task.setRequestHeader('Authorization',oldToken);
							task.addData('userId',userId);
							task.addData('identityType',identityT.toString());
					        task.addData('orderNumber',orderNo);
					        task.addData('goodsId',goodId.toString());
					        task.addData('evaluationContent',content);

							if(Apic.length){
								console.log(Apic);
								[].forEach.call(Apic,function(ele,index){
									task.addFile(ele, {key:'pictures'});
									if(index == Apic.length-1){ task.start(); }
								})
							}else{
								task.start();
							}

					    	}
					}

				})
			}
			/*商品评价结束*/



		</script>
	</body>

</html>