<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>申请退货</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/configW.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/commonY.css">
		<link rel="stylesheet" type="text/css" href="../../css/indexY.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/resetY.css">
		<link rel="stylesheet" href="../../css/youxd.css">
		<link href="../../css/mui.picker.minY.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<style type="text/css">
			.beizhu{margin-top: 20px;}
			.beizhu h5{padding-left: 15px;font-size: 16px;color: #555;}
			.disablecl{color: #555;}
			.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {font-size: 20px;}
			.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {top: 10px;}
			#BZCon{margin: 15px;width: calc(100% - 30px);border: none;background-color: #eee;height: 90px;}
			.baocun{width: calc(100% - 30px);background-color: #B62D29;color: #fff;border: none;font-size: 16px;padding: 10px 20px;}
			.mui-btn-primary:enabled:active{border: none;}
			#fangshi{padding-top: 8px;padding-left: 15px;}
			#fangshi span{line-height: 20px;display: block;}
			.mui-checkbox, .mui-radio { display: inline-block;}
			.fangshiMore2{display: none;}
			#cityResult{padding: 0 !important;}
			p{color: #555;}
			#tuihuodizhi02 b{font-weight: initial;}
			#tuihuodizhi02{margin-bottom: 8px;position: relative;}
			#tuihuodizhi02 span{position: absolute;right: 2px;top: 14px;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">申请退货</h1>
		</header>
		<script src="../../js/statusBar.js"></script>
		<div id="main" style="padding-top: 48px !important;padding-bottom: 10px;">
			<div class="proWrapAll" id="goodsD"></div>
			<script type="text/html" id="goodsS">
				<% for(var i=0;i<list.length;i++){%>
					<div class="proWrap fineB">
						<div class="proLeft proLeftTH">
							<img src="<%=list[i].coverImageUri%>">
						</div>
						<div class="proRight proRightTH">
							<h4><%= list[i].skuName%></h4>
							<p> 订单数量：<%= list[i].orderQuantity%> 可退数量：<%= list[i].returnableQuantity%></p>
							<div id="">
								<%if(list[i].goodsLine == 'PRESENT'){%>
									<em class="mui-badge mui-badge-danger" style="color: white;position: relative;top: -2px;">赠品</em>
								<%}else if(list[i].goodsLine == 'PRODUCT_COUPON'){%>
									<em class="mui-badge mui-badge-warning" style="color: white;position: relative;top: -2px;">产品券</em>
								<%}%>
							</div>
							<div>
								<span class="span1 span1TH">¥<%= list[i].retailPrice%></span>
								<div class="mui-numbox span2" data-numbox-min='0' data-numbox-max='<%= list[i].returnableQuantity%>'>
									<button class="mui-btn mui-btn-numbox-minus" type="button">-</button>
									<input class="mui-input-numbox goodNum" data-id="<%= list[i].id%>" data-type="<%= list[i].goodsLine%>" type="number" value="0"/>
									<button class="mui-btn mui-btn-numbox-plus" type="button">+</button>
								</div>
							</div>
						</div>
					</div>
				<% }%>
			</script>
			<div id="">
				<h3 class="thZhengce">退货政策</h3>
				<div class="beizhu">
			    		<h5>问题描述</h5>
					<textarea id="BZCon" name="" rows="" placeholder="备注请输入备注信息" cols=""></textarea>
			    </div>
			    <div id="fangshi">
			    		<span id="tostore">
			    			退货方式：
			    		</span>
					<div class="mui-input-row mui-radio mui-left tostore">
						<label>送货至门店</label>
						<input name="radio1" dataType='RETURN_STORE' value="送货至门店" class="typeRadio" checked type="radio">
					</div>
					<div class="mui-input-row mui-radio mui-left smqh">
						<label>上门取货</label>
						<input name="radio1" dataType='HOUSE_PICK' value="上门取货" class="typeRadio" type="radio">
					</div>
					<div class="fangshiMore">
						<p id="mendian0" style="padding-bottom: 6px;">请与上班时间送货到---</p>
						<p id="mendianA0">地址：----</p>
					</div>
					<div class="fangshiMore fangshiMore2">
						<div id="tuihuodizhi02" onclick="addAddress()">
							<b id="AD1">---</b> <b id="AD2">---</b>
							<p style="margin-right: 20px;">
								<b id="AD4">市</b> <b id="AD5">区</b> <b id="AD6">街道</b>
								<b id="AD7">小区</b> <b id="AD8">详细地址</b>
							</p>
							<span class="mui-icon mui-icon-arrowright"></span>
						</div>
						<p>预约取货时间</p>
						<div id='cityResult' class="ui-alert pad10 ft15" style="min-height: 22px;"><span class="mui-pull-left pstime">选择</span><span class="mui-icon mui-icon-arrowdown maincl mui-pull-left ft16"></span></div>
					</div>
			    </div>
			    <div style="text-align: center;">
			    		<button type="button" id="submitBtn" class="mui-btn  mui-btn-primary baocun">提交</button>
			    </div>
			</div>
		</div>

		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/youxd.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
				//选择地址
				function addAddress() {
					mui.plusReady(function(){
						var oneId = plus.webview.currentWebview().cusId;//导购的 客户id
						var extrasobjS = {
							page: 'order',
							goType:'toReturn'
						};
						if(oneId){
							extrasobjS = {
								page: 'order',
								ConeId:oneId,
								CidentityT:6,
								goType:'toReturn'
							}
						}
						openview({
							view: '../personal/address.html',
							id: 'address',
							extrasobj: extrasobjS
						})
					})

				}
			mui.plusReady(function(){
				//获取缓存
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				var userId = plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				var orderNumber = plus.webview.currentWebview().orderNo;
				var deliveryType = plus.webview.currentWebview().deliveryType;
				var moreInfo = null;//获取用户退货方式和取货地址
				var cusId = plus.webview.currentWebview().cusId;
				var platform = plus.storage.getItem('platform')
				if(deliveryType == '门店自提'){
					$('.smqh').hide()
				}else if(deliveryType.indexOf('券')!=-1){
					$('.smqh,.tostore,#tostore').hide()

				}
				/*退货方式tab*/
				$('.typeRadio').change(function(){
					if ($(".typeRadio[type='radio']:checked").val() == '送货至门店') {
						$('.fangshiMore').eq(0).css('display','block');
						$('.fangshiMore').eq(1).css('display','none');
					}else{
						$('.fangshiMore').eq(0).css('display','none');
						$('.fangshiMore').eq(1).css('display','block');
					}
				})
				var cityId = plus.storage.getItem('userCity');//获取城市
				window.addEventListener('readdstorage', function(event) {//选择后 刷新地址
					showAddressI();
				});
				showAddressI();
				function showAddressI(){
					var addressData = {'userId':userId,'identityType':identityT,'orderNumber':orderNumber};
					if(cusId){addressData = {'userId':cusId,'identityType':6,'orderNumber':orderNumber}};//如果是为了顾客
					mui.ajax(serverUrl + '/app/returnOrder/delivery/address',{//退货地址
						data:addressData,
						dataType:'json',
						type:'post',
						timeout:10000,
						headers:{"Authorization":oldToken},
						success:function(data,type,xhr){
							console.log('退货地址',data);
							if(data.code == 0){
								if(plus.storage.getItem("$addressStorageTH1") != null){
									var ASTH1 = JSON.parse(plus.storage.getItem("$addressStorageTH1"))[0];
									$('#AD1').html(ASTH1.person);
									$('#AD2').html(ASTH1.phone);
									$('#AD4').html(ASTH1.city);
									$('#AD5').html(ASTH1.country);
									$('#AD6').html(ASTH1.street);
									$('#AD7').html(ASTH1.villageName);
									$('#AD8').html(ASTH1.address);
									plus.storage.removeItem("$addressStorageTH1");
								}else{
									moreInfo = data.content;
									$('#mendian0').html('请与上班时间送货到'+data.content.bookingStoreName);
									$('#mendianA0').html('地址：'+data.content.bookingStoreAddress);
									//显示上门取货地址
									$('#AD1').html(data.content.receiver);
									$('#AD2').html(data.content.receiverPhone);
									$('#AD4').html(data.content.deliveryCity);
									$('#AD5').html(data.content.deliveryCounty);
									$('#AD6').html(data.content.deliveryStreet);
									$('#AD7').html(data.content.residenceName);
									$('#AD8').html(data.content.detailedAddress);
								}
							}else{
								mui.toast(data.message);
							}
						},
						error:function(xhr,type,errorThrown){
							console.error('退货地址，响应失败  !');
						}
					});
				}

				timeRanges();//获取时间段
				function timeRanges() {
					mui.ajax(serverUrl + '/app/city/get/deliveryTime', {
						data: { cityId: cityId },
						dataType: 'json',
						type: 'post',
						timeout: 10000,
						headers: { "Authorization": oldToken },
						success: function(data, type, xhr) {
							console.log('获取时间段', data);
							var dataObj = {};
							if(data.code == 0) {
								if(data.content && data.content.length) {
									var cityData = [];
									var cflag = 0;
									mui.each(data.content, function(index, item) {
										var eachday = {};
										eachday.children = [];
										eachday.text = item.day;
										mui.each(item.deliveryTime, function(index2, item2) {
											if(!cflag) {
												if(item2) {
													cflag = 1;
													$('#cityResult .pstime').html(item.day + " " + item2)
												}
											}
											eachday.children.push({
												'text': item2
											})
										})
										cityData.push(eachday)
									})
									console.log('cityData ', cityData);
									var cityPicker = new mui.PopPicker({
										layer: 2
									});
									cityPicker.setData(cityData);
									var cityResult = document.getElementById('cityResult');
									cityResult.addEventListener('tap', function(event) {
										cityPicker.show(function(items) {
											$('#cityResult').attr('data-id', '1');
											if(!items[1].text) {
												plus.nativeUI.alert('当天无可选时间段')
											} else {
												$('#cityResult .pstime').html(items[0].text + " " + items[1].text)
											}
											//返回 false 可以阻止选择框的关闭
											//return false;
										});
									}, false);
									//-----------------------------------------
								}
								plus.nativeUI.closeWaiting();
							} else {
								mui.toast(data.message);
								plus.nativeUI.closeWaiting();

							}
						},
						error: function(xhr, type, errorThrown) {
							console.log('获取时间段，响应失败  !');
							plus.nativeUI.closeWaiting();

						}
					});
				}

				/*可退商品*/
				mui.ajax(serverUrl + '/app/returnOrder/goods/returnable',{
					data:{'userId':userId,'identityType':identityT,'orderNumber':orderNumber},
					dataType:'json',
					type:'post',
					timeout:10000,
					headers:{"Authorization":oldToken},
					success:function(data,type,xhr){
						console.log('可退商品列表',data);
						if(data.code == 0){
							document.getElementById('goodsD').innerHTML = template('goodsS',{list:data.content});
							mui(".mui-numbox").numbox();
							$('.mui-numbox input').click(function() {
								if(platform == 'ANDROID'){
									$(this).select();
								}else{
									$(this).focus();
									$(this).get(0).selectionStart = 0;
									$(this).get(0).selectionEnd = $(this).get(0).value.length;
								}
								event.stopPropagation()
							})

						}else{
							mui.toast(data.message);
						}
					},
					error:function(xhr,type,errorThrown){
						console.error('可退商品列表，响应失败  !');
					}
				});

				/*发起退货*/
				document.getElementById('submitBtn').onclick = function(){
					plus.nativeUI.showWaiting();
					var goodArray = [];//商品数据
					$('.goodNum').each(function(index,ele){
						if($(ele).val() != 0){
							goodArray.push({
								'id':$(ele).attr('data-id'),
								'qty':$(ele).val(),
								'goodsLineType':$(ele).attr('data-type'),
							})
						}
					})
					var reasonInfo = $('#BZCon').val();//备注
					var cusId = plus.webview.currentWebview().cusId;//顾客id
					var backType = $(".typeRadio[type='radio']:checked").attr('dataType');//退货方式
					var deliveryTime = $('.pstime').html();//退货时间
					var returnStoreCode = null,returnStoreName = null,returnStoreAddress = null,rejecter = null,rejecterPhone = null,
					    returnFullAddress = null,deliveryCity = null,deliveryCounty = null,deliveryStreet = null,residenceName = null,
						detailedAddress = null;
					if(moreInfo){
						var returnDeliveryInfo = {};
						returnDeliveryInfo.returnStoreCode = moreInfo.bookingStoreCode;
						returnDeliveryInfo.returnStoreName = moreInfo.bookingStoreName;
						returnDeliveryInfo.returnStoreAddress = moreInfo.bookingStoreAddress;

						returnDeliveryInfo.rejecter = $('#AD1').html() || moreInfo.receiver;//人
						returnDeliveryInfo.rejecterPhone = $('#AD2').html() || moreInfo.receiverPhone;//电话
						returnDeliveryInfo.deliveryCity = $('#AD4').html() || moreInfo.deliveryCity;//城市
						returnDeliveryInfo.deliveryCounty = $('#AD5').html() || moreInfo.deliveryCounty;//地区
						returnDeliveryInfo.deliveryStreet = $('#AD6').html() || moreInfo.deliveryStreet;//街道
						returnDeliveryInfo.residenceName = $('#AD7').html() || moreInfo.residenceName;//小区
						returnDeliveryInfo.detailedAddress = $('#AD8').html() || moreInfo.detailedAddress;//详细地址
						returnDeliveryInfo.returnFullAddress = moreInfo.shippingAddress;

						returnDeliveryInfo.deliveryType = backType;
						returnDeliveryInfo.deliveryTime = deliveryTime;
					}

					if(!goodArray.length){
						plus.nativeUI.closeWaiting();
						plus.nativeUI.alert('请选择商品');
					}else{
						if(backType == 'HOUSE_PICK'){
							if(!deliveryTime){
								plus.nativeUI.closeWaiting();
								mui.toast('请选择取货时间，如不能选择时间请稍后再是试！');
							}else if(!moreInfo){
								plus.nativeUI.closeWaiting();
								mui.toast('获取信息错误，请稍后再试！');
							}else{
								subFun();
							}
						}else{
							if(!moreInfo){
								plus.nativeUI.closeWaiting();
								mui.toast('获取信息错误，请稍后再试！');
							}else{
								subFun();
							}

						}
					}
					function subFun(){
						var dataObj = {
						  	"userId":userId,
						  	"identityType":identityT,
						  	"cusId":cusId,
						  	"orderNo":orderNumber,
						  	"returnDeliveryInfo":returnDeliveryInfo,
						  	"remarksInfo":reasonInfo,
						  	"reasonInfo":reasonInfo,
						  	"returnGoodsInfo":goodArray
						};
						console.error(dataObj);
						mui.ajax(serverUrl + '/app/returnOrder/create',{
							data:dataObj,
							dataType:'json',
							type:'post',
							timeout:10000,
							headers:{"Authorization":oldToken,'Content-Type':'application/json'},
							success:function(data,type,xhr){
								console.log('创建退货',data);
								if(data.code == 0){
									mui.fire(plus.webview.getWebviewById('center.html'),'OrderNumR');
									mui.alert(data.message || '申请退货成功');
									openview({
										view:'myOrderRTList.html',
										id:'myOrderRTList',
									})
									var time2 = setTimeout(function(){
										plus.webview.currentWebview().close()
									},1000)
								}else{
									mui.toast(data.message);
								}
								plus.nativeUI.closeWaiting();
							},
							error:function(xhr,type,errorThrown){
								console.error('创建退货，响应失败  !');
								mui.toast('当前网络不好请重试');
								plus.nativeUI.closeWaiting();
							}
						});
					}
				}


			});
		</script>

	</body>

</html>