<!doctype html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>退货详情</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../../css/style.css" />
		<link rel="stylesheet" type="text/css" href="../../css/configW.css"/>
		<link rel="stylesheet" type="text/css" href="../../css/commonY.css">
		<link rel="stylesheet" type="text/css" href="../../css/indexY.css">
		<link rel="stylesheet" type="text/css" href="../../css/mui.min.css"/>
		<link rel="stylesheet" href="../../css/resetY.css">
		<link rel="stylesheet" href="../../css/youxd.css">
		<link href="../../css/mui.picker.minY.css" rel="stylesheet" />
		<link href="../../css/mui.poppicker.css" rel="stylesheet" />
		<style type="text/css">
			.beizhu{margin-top: 10px;border-bottom: 1px solid #eee;} .beizhu h5{padding-left: 15px;font-size: 16px;color: #555;
			margin-bottom: 10px;color: #EE9000;}
			.disablecl{color: #555;} body{padding-bottom: 20px;}
			.mui-checkbox input[type=checkbox]:before, .mui-radio input[type=radio]:before {font-size: 20px;}
			.mui-checkbox input[type=checkbox], .mui-radio input[type=radio] {top: 10px;}
			#BZCon{margin: 15px;width: calc(100% - 30px);border: none;background-color: #eee;height: 90px;}
			.baocun{width: calc(100% - 30px);background-color: #B62D29;color: #fff;border: none;font-size: 16px;padding: 10px 20px;}
			.mui-btn-primary:enabled:active{border: none;} #fangshi{padding-top: 8px;padding-left: 15px;}
			#fangshi span{line-height: 20px;display: block;} .mui-checkbox, .mui-radio { display: inline-block;}
			.fangshiMore2{display: none;} #cityResult{padding: 0 !important;}
			p{color: #555;} #smllInfo p{padding: 10px 15px;} .proWrapAll{height: 160px;overflow-y: scroll;margin-bottom: 0;}
			.proLeftTH{flex: 2 !important;} .proRightTH{flex: 5 !important;}
			.proRight h4{min-height: 24px;} .infoBottom{padding: 15px;box-shadow: 0 -1px 1px rgba(222, 217, 217, 0.85)} .infoBottom span{float: right;color: #c7161e;}
			.proWrapAll2{height: auto;} .thZhengce{background-color: #fff;border-top: 5px solid #eee;border-bottom: 5px solid #eee;}
			.flexwc img{z-index: 100;}
			.flexwc span{margin: auto;display: block;width: 14px;line-height: 14px; margin-top: 14px;font-size: 12px;font-weight: bold;background-color: #c3c3c3;border-radius: 50%;
				color: #fff;margin-bottom: 5px;}
			.flexwc span.oneActiveY{background-color: #c7161e;}
			.cartSecond1:before,.cartSecond1:after{width: 42px;}
			.flexwc span.mui-icon-loop{background-color: transparent;color: #c3c3c3;position: absolute;top: 1px;left: 6px;font-size: 27px;}
			.flexwc span.loopAc{color: #c7161e;}
			.flexwc span.loopOther{padding-right: 2px;position: relative;left: 1px;}
			.copyBtn,.copyBtn2{float: right; border: none; padding: 0 !important; color: #c7161e;}
		</style>
	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">退货详情</h1>
		</header>
		<script src="../../js/statusBar.js"></script>
		<div id="main" style="padding-top: 48px !important;">

		</div>
		<script type="text/html" id="dataS">
			<div id="smllInfo">
				<p class="fineB">服务单号：<%= dataObj.returnNumber%> <button id="copyBtn" style="float: right;" class="span1 copyBtn">复制</button> </p>
				<p class="fineB">订&nbsp; 单&nbsp; 号：<%= dataObj.orderNo%> <button id="copyBtn2" style="float: right;" class="span1 copyBtn2">复制</button> </p>
				<p class="fineB" style="box-shadow: 0 1px 1px rgba(222, 217, 217, 0.85);">申请时间：<%= dataObj.returnTime%></p>
			</div>
			<div class="proWrapAll" id="goodsD">
				<%for(var i=0;i<dataObj.goodsList.length;i++){%>
					<div class="proWrap fineB">
						<div class="proLeft proLeftTH">
							<img src="<%= dataObj.goodsList[i].coverImageUri || '../../img/editset.png'%>">
						</div>
						<div class="proRight proRightTH">
							<h4><%= dataObj.goodsList[i].skuName%></h4>
							<p class="bianma001">
								<% if(dataObj.goodsList[i].sku){ %>
									商品编码:<%=dataObj.goodsList[i].sku%>
								<% } %>
							</p>
							<p class="bianma002"> 规格：<%= dataObj.goodsList[i].goodsSpecification%> 单位：<%= dataObj.goodsList[i].goodsUnit%></p>
							<div class="bianma002">
								<span class="span1 span1TH">¥<%= dataObj.goodsList[i].retailPrice%></span>
								<%if(dataObj.goodsList[i].goodsType == 'PRESENT'){%>
									<em class="mui-badge mui-badge-danger" style="color: white;position: relative;top: -4px;">赠品</em>
								<%}else if(dataObj.goodsList[i].goodsType == 'PRODUCT_COUPON'){%>
									<em class="mui-badge mui-badge-warning" style="color: white;position: relative;top: -4px;">产品券</em>
								<%}%>
								<span class="mui-pull-right">X<%= dataObj.goodsList[i].qty%></span>
							</div>
						</div>
					</div>
				<%}%>
			</div>
			<div class="infoBottom fineT">
				共<%= dataObj.returnQty%>件商品 退款总额：¥<%= dataObj.totalReturnPrice%>   <span class="mui-icon mui-icon-arrowdown"></span><span class="arrowdown">展开</span>
			</div>
			<div id="">
				<div id="">
					<h3 class="thZhengce" style="text-align: right;border-bottom:1px solid #eee"><span style="color: #555;float: left;">退货进度</span> <b style="visibility: hidden;"><%= dataObj.returnStatusDesc%></b></h3>

					<%if(dataObj.returnStatusDesc.indexOf('消')>-1 ){%>
						<div class="flexwc">
							<%if(dataObj.returnStatusDesc == '已提交'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond"> <span>2</span> 取消中 <span class="mui-icon mui-icon-loop"></span></div>
								<div class="cartThird"> <span>3</span> 已取消 <span class="mui-icon mui-icon-loop"></span></div>
							<%}else if(dataObj.returnStatusDesc == '取消中'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond"> <span class="oneActiveY">2</span> 取消中 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span>3</span> 已取消 <span class="mui-icon mui-icon-loop"></span></div>
							<%}else if(dataObj.returnStatusDesc == '已取消'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond"> <span class="oneActiveY">2</span> 取消中 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span class="oneActiveY">3</span> 已取消 <span class="mui-icon mui-icon-loop loopAc"></span></div>
							<%}%>
						</div>
					<%}else{%>
						<div class="flexwc" style="overflow-x: hidden;">
							<%if(dataObj.returnStatusDesc == '已提交'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond cartSecond1"> <span>2</span> 退货中 <span class="mui-icon mui-icon-loop"></span></div>
								<div class="cartThird"> <span>3</span> 待退款 <span class="mui-icon mui-icon-loop"></span></div>
								<div class="cartThird"> <span class="loopOther">4</span> 已完成 <span class="mui-icon mui-icon-loop"></span></div>
							<%}else if(dataObj.returnStatusDesc == '退货中'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond cartSecond1"> <span class="oneActiveY">2</span> 退货中 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span>3</span> 待退款 <span class="mui-icon mui-icon-loop"></span></div>
								<div class="cartThird"> <span class="loopOther">4</span> 已完成 <span class="mui-icon mui-icon-loop"></span></div>
							<%}else if(dataObj.returnStatusDesc == '待退款'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond cartSecond1"> <span class="oneActiveY">2</span> 退货中 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span class="oneActiveY">3</span> 待退款 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span class="loopOther">4</span> 已完成 <span class="mui-icon mui-icon-loop"></span></div>
							<%}else if(dataObj.returnStatusDesc == '已完成'){%>
								<div class="cartOne"> <span class="oneActiveY">1</span> 已提交 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartSecond cartSecond1"> <span class="oneActiveY">2</span> 退货中 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span class="oneActiveY">3</span> 待退款 <span class="mui-icon mui-icon-loop loopAc"></span></div>
								<div class="cartThird"> <span class="oneActiveY loopOther">4</span> 已完成 <span class="mui-icon mui-icon-loop loopAc"></span></div>
							<%}%>
						</div>
					<%}%>

					<h3 class="thZhengce" id="openStatusD" data-num='<%= dataObj.returnNumber%>' style="text-align: right;border-top:1px solid #eee">物流详情></h3>
				</div>
				<div class="thZhengce noticeRt activecl" style="border-bottom-width: 10px;font-size: 16px!important;">
			    		*退换货注意事项
			    </div>
				<div class="beizhu">
			    		<h5>退货原因:</h5>
					<div>
						<p id="mendianA0" style="padding: 5px 15px 10px;font-size: 16px;"><%= dataObj.reasonInfo%> </p>
					</div>
			    </div>
			    <div class="beizhu">
			    	    <!--RETURN_STORE("RETURN_STORE", "退货到店"), HOUSE_PICK("HOUSE_PICK", "工地取货");-->
			    		<h5>
			    			商品退回方式:
			    			<%if(dataObj.deliveryType == 'HOUSE_PICK'){%>
			    				工地取货
		    				<%}else if(dataObj.deliveryType == 'RETURN_STORE'){%>
		    					退货到店
	    					<%}else{%>
	    						暂无
	    					<%}%>
			    		</h5>
					<div>
						<%if(dataObj.deliveryType == 'HOUSE_PICK'){%>
							<p id="mendianA0" style="padding: 0px 15px 5px;font-size: 16px;">联系人：<%= dataObj.receiver%></p>
							<p id="mendianA0" style="padding: 0px 15px 5px;font-size: 16px;">联系电话：<a href="tel:<%=dataObj.receiverPhone%>"><%= dataObj.receiverPhone%></a></p>
							<p id="mendianA0" style="padding: 0px 15px 10px;font-size: 16px;">取货地址：<%= dataObj.shippingAddress%></p>
							<p id="mendianA0" style="padding: 0px 15px 10px;font-size: 16px;">取货时间：<%= dataObj.deliveryTime%></p>
						<%}else{%>
							<p id="mendianA0" style="padding: 0px 15px 5px;font-size: 16px;">门店：<%= dataObj.bookingStoreName || '暂无'%></p>
							<p id="mendianA0" style="padding: 0px 15px 10px;font-size: 16px;">门店电话：<a href="tel:<%=dataObj.bookingStorePhone%>"><%= dataObj.bookingStorePhone || '暂无'%></a></p>
							<p id="mendianA0" style="padding: 0px 15px 10px;font-size: 16px;">门店地址：<%= dataObj.storeDetailedAddress || '暂无'%></p>
						<%}%>

					</div>
			    </div>
			</div>
		</script>

		<script src="../../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/mui.min.js"></script>
		<script src="../../js/mui.picker.min.js"></script>
		<script src="../../js/mui.poppicker.js"></script>
		<script src="../../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/youxd.js" type="text/javascript" charset="utf-8"></script>
		<script src="../../js/clipboard.min.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.plusReady(function(){
				//获取缓存
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				var userId = plus.webview.currentWebview().lookCusid || plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				var orderNumber = plus.webview.currentWebview().orderNo;
				var isButton = plus.webview.currentWebview().isButton;
				var noButton = plus.webview.currentWebview().noButton;

				//退货详情
				mui.ajax(serverUrl + '/app/returnOrder/detail',{
					data:{'userId':userId,'identityType':identityT,'returnNumber':orderNumber},
					dataType:'json',
					type:'post',
					timeout:10000,
					headers:{"Authorization":oldToken},
					success:function(data,type,xhr){
						console.log('退货详情',data);
						if(data.code == 0){
							document.getElementById('main').innerHTML = template('dataS',{dataObj:data.content});
							mui(".mui-numbox").numbox();
							if(isButton == 'no' || noButton){
								$('.footBtn,.proRight button').hide();
							}
							//复制方法
							var returnNumber = data.content.returnNumber;
					        var clipboard = new Clipboard('.copyBtn', {
					        		text: function() {
						            return returnNumber;
						        }
						    });
						    clipboard.on('success', function(e) {
						    		mui.toast('复制成功');
						        console.log('成功'+e.text);
						    });
						    clipboard.on('error', function(e) {
						        console.log('失败',e);
						    });
						    var orderNo = data.content.orderNo;
					        var clipboard = new Clipboard('.copyBtn2', {
					        		text: function() {
						            return orderNo;
						        }
						    });
						    clipboard.on('success', function(e) {
						    		mui.toast('复制成功');
						        console.log('成功'+e.text);
						    });
						    clipboard.on('error', function(e) {
						        console.log('失败',e);
						    });
						    //复制结束
							//展开
							$('.arrowdown').click(function(){
								if($('.proWrapAll').hasClass('proWrapAll2')){
									$(this).html('展开');
								}else{
									$(this).html('收起');
								}
								$('.proWrapAll').toggleClass('proWrapAll2');
							})
							//物流进度详情
							$('#openStatusD').click(function(){
								var orderNum = document.getElementById('openStatusD').getAttribute('data-num');
								openview({
									view:'myOrderWL.html',
									id:'myOrderWL',
									extrasobj:{
										orderNo:orderNum,
										type:'tuihuo'
									}
								})
							})
							//退货注意事项
							$('.noticeRt').click(function(){
								var isCanceInfo = '乐易装平台退换货注意事项：\n'+
									'以下情况视为影响二次销售，不可以退换：\n'+
									'1) 密封产品原包装打开，一次性封贴或胶条破损（质量问题除外）;\n'+
									'2) 产品已使用（质量问题除外）;\n'+
									'3) 服务费、运费、人工费等商品不接受退货;\n'+
									'4) 购买时明确说明不支持退货的商品;\n'+
									'5) 任何非在平台上出售的商品（序列号或批号不符）;\n'+
									'6) 过保商品或超过三个月（含）之出货单;\n'+
									'7) 未经授权的维修、误用、碰撞、疏忽、滥用、进液、事故、改动、不正确的安装所造成的商品质量问题，或撕毁、涂改标贴、机器序号、防伪标记;\n'+
									'8) 无法提供商品的发票、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的;\n'+
									'8) 无法提供商品的发票、保修卡等三包凭证或者三包凭证信息与商品不符及被涂改的;\n'+
									'9) 其他依法不应办理退换货的。\n'+
									'退款注意事项：\n'+
									'若符合退货原则，请于乐易装平台系统进行退货。审核无误后，3-5天内进行退款：\n'+
									'1)	商品在收回后确认符合退货原则后进行退款。\n'+
									'2)	使用支付宝／微信／银联支付的，依促销分摊后之退款价格原路退回。\n'+
									'3)	使用会员预存款支付的，依促销分摊后之退款价格原路退回。\n'+
									'4)	使用现金/ POS 刷卡机，依促销分摊后之退款价格，至门店进行现金退款。';
								mui.alert(isCanceInfo)
							})
						}else{
							mui.toast(data.message);
							document.getElementById('main').innerHTML = '<div style="text-align:center;padding:15px;">'+data.message+'</div>' ;
						}
					},
					error:function(xhr,type,errorThrown){
						console.error('可退商品列表，响应失败  !');
					}
				});

			});
		</script>

	</body>

</html>