<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>商学院更多列表</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/configW.css" />
		<link rel="stylesheet" type="text/css" href="../css/commonY.css" />
	</head>
	<style type="text/css">
		.qashadow{margin-bottom: 5px;background-color: white;padding:10px}
		.qbot{margin-top: 10px;line-height: 1.3;}
		.Avator{width: 70px!important;height: 70px!important;}
		.qaimg img{margin-right:5px;width:0.6rem;height:0.6rem;border-radius:3px;margin-top: 10px;}
		.upload{padding: 20px;text-align: center;padding-bottom: 0px;}
		.mui-card-content-inner p img{width: 22px;vertical-align: middle;}
		.mui-card-content-inner p{font-size: 16px;}
		.mui-card-content-inner{padding: 8px;}
		body{padding-bottom: 0;}
		.mui-card-footer:before, .mui-card-header:after{height: 0px !important;}
		.mui-card{border-radius: 5px;}
		.mui-card .p2{font-size: 14px;}
		.mui-card .p2 img{width: 20px;position: relative;top: -1px;}
	</style>

	<body>
		<header class="mui-bar mui-bar-nav" style="padding-right: 15px;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title">乐易装商学院</h1>
		</header>
		<script src="../js/statusBar.js"></script>
		<div class="mui-content mui-contentY2">

			<div id="tradeList"></div>
			<script type="text/html" id="tradeTpl">
				<%for(var i=0;i<dataList.length;i++){%>
					<div class="mui-card" onclick="openDetail(<%=dataList[i].id%>)">
						<div class="mui-card-header mui-card-media"
							style="height:45vw;background-image:url(<%= url%><%= dataList[i].thumb%>)">
						</div>
						<div class="mui-card-content">
							<div class="mui-card-content-inner">
								<!--<p><%=dataList[i].createTime%></p>-->
								<p style="color: #333;"><%=dataList[i].title%></p>
								<p class="p2"><img src="../img/yanjin2.svg"/> <%=dataList[i].read%></p>
							</div>
						</div>
					</div>
				<%}%>
			</script>

		</div>
		<div class="upload text-center text-xs gray" id="upload"></div>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">

			function openDetail(id){
				openview({
					view: 'tradeSchoolLnfo.html',
					id: 'tradeSchoolLnfo',
					extrasobj: {
						tradeId: id
					}
				})
			}
			var Spagenum = 2; //实到页数
			var Ypagenum = 1; //应到页数
			var currentPage = 1,
				numsPerPage = 4;
			mui.ajax(oCms+'/index.php/ApiCms/postSchool', {
				data: {
					page:currentPage,
					size:numsPerPage
				},
				dataType: 'json', //服务器返回json格式数据
				type: 'post', //HTTP请求类型
				timeout: 10000, //超时时间设置为10秒；
				success: function(data) {
					console.log('商学院 更多列表', data);

					if(data && data.list.length) {
						document.getElementById("tradeList").innerHTML = template("tradeTpl", {
							dataList: data.list,
							url:oCms
						});
						mui("#upload")[0].innerHTML = "";

						//上滑加载
						$(window).scroll(function() {
							var scrollTop = $(this).scrollTop();
							var scrollHeight = $(document).height();
							var windowHeight = $(this).height();
							if(Spagenum <= data.numPage && scrollTop + windowHeight == scrollHeight) {
								if(Spagenum == Ypagenum + 1) { //当前页小于等于总页数时请求下一页
									mui("#upload")[0].innerHTML = "<img src='../img/balls.svg' />";
									Ypagenum++; //满足加载情况,应到页数+1
									console.log('发起请求,实到' + Spagenum + '页');
									console.log('发起请求,应到' + Ypagenum + '页');
									mui.ajax(oCms+'/index.php/ApiCms/postSchool', {
										data: {
											page: Ypagenum,
											size: numsPerPage,
										},
										dataType: 'json', //服务器返回json格式数据
										type: 'post', //HTTP请求类型
										timeout: 10000, //超时时间设置为10秒；
										success: function(data) {
											console.log('商学院 更多列表 续', data);
											if(data && data.list.length) {
												document.getElementById("tradeList").innerHTML += template("tradeTpl", {
													dataList: data.list,
													url:oCms
												});
											}
											mui("#upload")[0].innerHTML = " ";
											Spagenum++; //加载成功,当前页+1
											console.log('成功+1,实到' + Spagenum);
											console.log('成功+1,应到' + Spagenum);
										},
										error: function(xhr, type, errorThrown) {
											Ypagenum--; //失败是应到-1
											mui.toast("当前网络不好请重试");
											mui("#upload")[0].innerHTML = "";
										}
									});
								}
							} else { //当前页不小于等于总页数时请求下一页
								mui("#upload")[0].innerHTML = "到底了";
							}
						});
					} else {
						mui("#upload")[0].innerHTML = "";
					}
				},
				error: function(xhr, type, errorThrown) {
					mui("#upload")[0].innerHTML = "";
				}
			});
		</script>
	</body>

</html>