<!doctype html>
<html>

	<head>
		<meta charset="UTF-8">
		<title>我的钱包</title>
		<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
		<link href="../css/mui.min.css" rel="stylesheet" />
		<link rel="stylesheet" type="text/css" href="../css/mui.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/configW.css"/>
		<link rel="stylesheet" type="text/css" href="../css/commonY.css">
		<link rel="stylesheet" type="text/css" href="../css/indexY.css">
		<link rel="stylesheet" href="../css/resetY.css">
		<!--<link rel="stylesheet" href="../css/youxd.css">-->
		<style type="text/css">
			/*.notice li.active{border-bottom: 2px solid #f63d41;box-sizing: border-box;color: #f63d41;}*/
			.tab-hd{height: 45px !important;border-bottom: 1px solid #EFEFF4 !important;}
			.tab-nav li{height: 45px !important;}
			body{background-color: #f3f3f3;padding-bottom: 10px;}
			.mui-bar-nav{box-shadow: none !important;}
			header.mui-bar{z-index: 200;}
			.notice .tab-hdtwo li {width: 50%;border: 1px solid #CECFCF;border-radius: 3px;}
			.checkList{background-color: #fff;margin-top: 10px;}
			.checkList h4{font-size: 14px;padding: 12px 10px;}
			.checkList h4 .h4span3{float: right;color: red;}
			.checkList h4 .h4span2{margin-left: 3%;}
			.checkListCon{padding: 10px;}
			.checkListCon img{width: 23%;float: left;margin-left: 1.6%;}
			.checkListDZ{padding: 10px;color: #757575;}
			.checkListB{padding: 10px 20px;text-align: right;}
			#infoListDiv{transition: all .3s;}

			#main{margin-top: 0px;border-top:1px solid #eee }
			.rechargeConDiv{background-color: #fff;margin-top: 5px;line-height: 28px;padding: 10px;}
			.rechargeConDiv p{font-size: 16px;}
			.activecl{background-color: #FEFFFF; border: 1px solid #c7161e; color: #c7161e; border-radius: 3px; font-size: 15px;
                      padding: 4px 10px; margin-top: -4px;}
  	  		#tabLink{padding: 14px;height: 66px !important;}
  	  		.notice li.active { box-sizing: border-box; background-color: #c7161e; color: #fff;
  	  			border: 1px solid #c7161e;}
			.notice li:first-child{border-radius: 3px 0 0 3px;font-size: 16px;}
			.notice li:last-child{border-radius: 0 3px 3px 0;font-size: 16px;}
			.notice .tab-hd li {height: 38px !important;line-height: 38px !important;}
			.mui-bar-nav~.mui-content{padding-top: 50px;}
		</style>

	</head>

	<body>
		<header class="mui-bar mui-bar-nav fineB" style="padding-right: 15px;pointer-events: all;">
			<a id="leftbtn" class="mui-action-back mui-icon mui-icon-left-nav mui-pull-left"></a>
			<h1 class="mui-title" style="pointer-events: all;">钱包</h1>
			<span class="mui-pull-right" style="margin-top: 12px;font-size: 16px!important;" onclick="tixian()">提现</span>
		</header>
		<script src="../js/statusBar.js" type="text/javascript" charset="utf-8"></script>
		<div class="mui-content">
			<div class="huiZ f17" style="color: #fff;background-image: url(../img/walletBg.jpeg);background-size: 100% 100%;padding:25px 15px;line-height: 20px;">
			<!--<div class="huiZ f17" style="background-size: 100% 100%;padding:25px 15px;line-height: 20px;">-->
				当前余额：<span class="f17 huiZ" id='balance'></span>
				<span class="mui-pull-right activecl aClick" id="recharge">我要充值</span>
			</div>
		</div>
		<div id="main" style="padding-top: 0!important;">
			<div class="notice">
				<div class="tab-hd tab-hdtwo" id="tabLink">
					<ul class="tab-nav">
					  <li class="active aClick " data-statusId="">充值记录</li>
					  <li class="aClick" data-statusId="1">消费记录</li>
					</ul>
				</div>
				<!--列表loading-->
				<div id="loadingdiv" style="text-align: center;font-size: 14px;height:32px;
					line-height: 30px;color: #666;-webkit-transition: all .3s;overflow: hidden;">
					<img style="width: 30px;margin-top:5px;" src="../img/Rolling.svg"/>
				</div>
				<!--列表loading结束-->
				<div id="infoListDiv"><!--内容-->
				</div>
				<script id="infoList" type="text/html">
					<%for(var i=0;i<list.length;i++){%>
						<div class="rechargeConDiv">
							<p>充值时间: <%= list[i].createTime%></p>
							<p>充值金额: <%= list[i].changeMoney%></p>
							<p>充值方式: <%= list[i].type%></p>
						</div>
					<%}%>
				</script>
				<script id="infoList2" type="text/html">
					<%for(var i=0;i<list.length;i++){%>
						<div class="rechargeConDiv">
							<p>消费时间: <%= list[i].createTime%></p>
							<p>订单编号: <%= list[i].orderNumber%></p>
							<p>消费金额: <%= list[i].changeMoney%></p>
							<p>消费方式: <%= list[i].type%></p>
						</div>
					<%}%>
				</script>
			</div>
		</div>
		<div class="upload text-center text-xs gray" id="upload"></div>
		<script src="../js/jquery.min.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/mui.min.js"></script>
		<script src="../js/default.js" type="text/javascript" charset="utf-8"></script>
		<script src="../js/artTemplate-native.js" type="text/javascript" charset="utf-8"></script>
		<script type="text/javascript">
			mui.init();
			function tixian(){
				var mm = $('#balance').html().replace(/[^0-9]/g,"");
				openview({
					view:"withdrawDeposit.html",
					id:"withdrawDeposit",
					extrasobj:{"balance":mm}
					
				})
			}
			mui.plusReady(function(){
				//获取缓存
				var identityT = JSON.parse(plus.storage.getItem("$identityType")).identityType;
				var userId = plus.storage.getItem('$userId');
				var oldToken = plus.storage.getItem('oldToken');
				plus.nativeUI.showWaiting();
				if(identityT == 2){
					var api = '/app/store/preDeposit/balance'
				}else{
					var api = '/app/customer/preDeposit/balance'
				}
				mui('#recharge')[0].onclick = function(){
					openview({
						view:"personal/recharge.html",
						id:'recharge',
						extrasobj:{money:$('#balance').text()}
					})
				}
				window.addEventListener('refreash', function(event) {
					loadWallet();
				});
				loadWallet();
				function loadWallet(){
					//顾客余额
					mui.ajax(serverUrl+api,{
						data:{
							userId:userId,
							identityType:identityT
						},
						dataType:'json',
						headers: {"Authorization": oldToken},
						type:'post',
						timeout:10000,
						success:function(data,type,xhr){
							plus.nativeUI.closeWaiting();
							console.log('账户余额',data);
							if(data.code == 0 ){
								plus.nativeUI.closeWaiting();
									if(data.content){
										$('#balance').html('¥'+data.content);
									}else{
										$('#balance').html('¥'+0);
									}

							}
							if(data.code == 1000 ){
								mui.toast(data.message)
							}else if(data.code == -1 ){
								mui.toast(data.message)
							}

						},
						error:function(xhr,type,errorThrown){
							plus.nativeUI.closeWaiting();
							mui.toast(type)
							console.log('响应失败');
						}
					});

					//tab切换
					//初始化
					if(identityT == 6){
						var url = '/app/customer/PreDeposit/recharge/log';
					}else if(identityT == 2){
						var url = '/app/employee/PreDeposit/recharge/log';
					}
					loadFun(url,'tab1');
					$('#tabLink li').click(function(){
						$('#tabLink li').removeClass('active');
						$(this).addClass('active');
						$('#loadingdiv').css('height','32px');
						if($(this).index() == 0){
							if(identityT == 6){
								var url = '/app/customer/PreDeposit/recharge/log';
							}else if(identityT == 2){
								var url = '/app/employee/PreDeposit/recharge/log';
							}
							loadFun(url,'tab1');
						}else{
							if(identityT == 6){
								var url = '/app/customer/PreDeposit/consumption/log';
							}else if(identityT == 2){
								var url = '/app/employee/PreDeposit/consumption/log';
							}
							loadFun(url,'tab2');
						}
					})
					function loadFun(url,tabT){
						mui("#upload")[0].innerHTML = " ";
				 		$(window).unbind('scroll');
						var Spagenum = 2; //实到页数
						var Ypagenum = 1; //应到页数
						var oneSize = 10;
						mui.ajax(serverUrl + url,{
							data:{'userId':userId,'identityType':identityT,'page':1,'size':oneSize},
							dataType:'json',
							type:'post',
							timeout:10000,
							headers:{"Authorization":oldToken},
							success:function(data,type,xhr){
								console.log(data);
								var timeLoad = setInterval(function(){
									clearTimeout(timeLoad),timeLoad = null;
									if(data.code == 0){
										$('#loadingdiv').css('height','0px');
										if(data.content.list && data.content.list.length){
											if(tabT == 'tab1'){
												document.getElementById('infoListDiv').innerHTML = template('infoList',{list:data.content.list});
											}else if(tabT == 'tab2'){
												document.getElementById('infoListDiv').innerHTML = template('infoList2',{list:data.content.list});
											}

											$(window).scroll(function() {
												var scrollTop = $(this).scrollTop();
												var scrollHeight = $(document).height();
												var windowHeight = $(this).height();
												if(scrollTop + windowHeight == scrollHeight) {
													if(Spagenum <= data.content.pages && Spagenum == Ypagenum + 1) { //当前页小于等于总页数时请求下一页
														mui("#upload")[0].innerHTML = "<img src='../img/Rolling.svg' />";
														Ypagenum++; //满足加载情况,应到页数+1
														console.log('发起请求,实到' + Spagenum + '页');
														console.log('发起请求,应到' + Ypagenum + '页');

														mui.ajax(serverUrl + url,{
								                            data:{'userId':userId,'identityType':identityT,'page':Ypagenum,'size':oneSize},
								                            dataType:'json',
								                            type:'post',
								                            timeout:10000,
								                            headers:{"Authorization":oldToken},
								                            success:function(data,type,xhr){
								                                console.log('续',data);
							                                    if(data.code == 0){
							                                        $('#loadingdiv').css('height','0px');
							                                        if(data.content.list && data.content.list.length){
							                                            if(tabT == 'tab1'){
							                                                document.getElementById('infoListDiv').innerHTML += template('infoList',{list:data.content.list});
							                                            }else if(tabT == 'tab2'){
							                                                document.getElementById('infoListDiv').innerHTML += template('infoList2',{list:data.content.list});
							                                            }
							                                        }
							                                    }else{
							                                        mui.toast(data.message);
							                                    }
						                                   		mui("#upload")[0].innerHTML = " ";
																Spagenum++; //加载成功,当前页+1
																console.log('成功+1,实到' + Spagenum);
																console.log('成功+1,应到' + Spagenum);
								                            },
								                            error:function(xhr,type,errorThrown){
								                                Ypagenum--; //失败是应到-1
																mui.toast("当前网络不好请重试");
																mui("#upload")[0].innerHTML = "";
								                            }
								                        });

													} else if(Spagenum == data.content.pages + 1) { //当前页不小于等于总页数时请求下一页
														mui("#upload")[0].innerHTML = "到底了";
													}
												}
											});

										}else{
											document.getElementById('infoListDiv').innerHTML = '<div style="text-align: center;padding: 50px;"><img src="../images/order/order.png" style="width: 100px;" /><div class="ft13 disablecl">暂无数据</div></div>';
										}
									}else{
										mui.toast(data.message);
									}
								},500)
							},
							error:function(xhr,type,errorThrown){
								console.log('响应失败  !');
							}
						});
					}
				}
			})
		</script>
	</body>

</html>